bckp-workflows-n8n-to-github_2025-08-30T01-36-23.json
{
  "name": "BCKP workflows n8n to GitHub",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM workflow_entity\nWHERE name NOT ILIKE '%backup%'\nORDER BY id;",
        "additionalFields": {}
      },
      "name": "Get Workflows from DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -432,
        224
      ],
      "id": "619dae1f-ee40-4904-97a5-cad13c8779db",
      "credentials": {
        "postgres": {
          "id": "2xkaCrgCVOfCETb3",
          "name": "PostgreSQL credential n8n_database"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "paul-z4z",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_Workflows",
          "mode": "name"
        },
        "filePath": "={{ $json.path }}",
        "fileContent": "={{ $json.content }}",
        "commitMessage": "={{ $json.message }}"
      },
      "name": "Upload to GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        80,
        224
      ],
      "id": "e14e803b-841e-460b-b477-7a4bbd448d3b",
      "webhookId": "09d821d4-6a0a-4991-be00-6a2ec5dff456",
      "credentials": {
        "githubApi": {
          "id": "9RWBslDcc6pPEYjG",
          "name": "GitHub backup"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -640,
        224
      ],
      "id": "e1b95e1b-aef9-4180-bb73-e6d5f7a09a3a",
      "name": "Weekly Cleanup Trigger"
    },
    {
      "parameters": {
        "jsCode": "const workflows = items.map(item => item.json);\nconst timestamp = new Date().toISOString().replace(/[:.]/g, '-').slice(0, -5);\n\nconst files = workflows.flatMap(workflow => {\n  const cleanName = workflow.name.replace(/[^a-zA-Z0-9]/g, '_');\n  const workflowId = workflow.id;\n  const workflowJson = JSON.stringify(workflow, null, 2);\n\n  return [\n    {\n      path: `individual/${cleanName}_${workflowId}/${cleanName}_${timestamp}.json`,\n      content: Buffer.from(workflowJson).toString('base64'),\n      message: `Backup ${cleanName} (${workflowId}) at ${timestamp}`\n    }\n  ];\n});\n\n// Add combined timestamped file\nconst allWorkflowsJson = JSON.stringify(workflows, null, 2);\nfiles.push({\n  path: `all_workflows/all_workflows_${timestamp}.json`,\n  content: Buffer.from(allWorkflowsJson).toString('base64'),\n  message: `Full backup of all workflows at ${timestamp}`\n});\n\nreturn files.map(file => ({ json: file }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        48
      ],
      "id": "d6c4176a-e8cf-415e-be80-5930e3e3707a",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "const workflows = items.map(item => item.json);\nconst now = new Date();\n\n// Use day of year modulo 5 for rotation\nconst dayOfYear = Math.floor((now - new Date(now.getFullYear(), 0, 0)) / (1000 * 60 * 60 * 24));\nconst timeSlot = now.getHours() < 12 ? 'morning' : 'evening';\nconst slotNumber = ((dayOfYear * 2) + (timeSlot === 'evening' ? 1 : 0)) % 5 + 1;\n\nconst backupData = {\n  created_at: now.toISOString(),\n  workflow_count: workflows.length,\n  workflows: workflows\n};\n\nreturn [{\n  json: {\n    path: `backup_${slotNumber}.json`,\n    content: Buffer.from(JSON.stringify(backupData, null, 2)).toString('base64'),\n    message: `n8n backup slot ${slotNumber} - ${workflows.length} workflows`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        224
      ],
      "id": "783d059c-f7af-46c6-b2a7-39c765783950",
      "name": "Code1"
    }
  ],
  "connections": {
    "Get Workflows from DB": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to GitHub": {
      "main": [
        []
      ]
    },
    "Weekly Cleanup Trigger": {
      "main": [
        [
          {
            "node": "Get Workflows from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-26T17:42:18.102Z",
  "updatedAt": "2025-08-30T01:26:51.987Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Weekly Cleanup Trigger": {
      "recurrenceRules": [
        16
      ]
    }
  },
  "pinData": {},
  "versionId": "a307c85a-8d9e-4c8c-92d3-14178c9ade89",
  "triggerCount": 1,
  "id": "4PfmBxWJsJcMqQ9F",
  "meta": null,
  "parentFolderId": null,
  "isArchived": false
}