calendarsyncfixedv2_2025-11-11T05-00-19.json
{
  "name": "Calendar Sync Fixed v2",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "lpd2000@gmail.com",
          "mode": "list",
          "cachedResultName": "lpd2000@gmail.com"
        },
        "triggerOn": "eventCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        -656,
        -128
      ],
      "id": "3a0213b1-afe5-4c50-a5d6-b0be9fbd4eba",
      "name": "On Event Created",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "UpYMdK76SRAFiDWv",
          "name": "GCalendar account LPD2000"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "lpd2000@gmail.com",
          "mode": "list",
          "cachedResultName": "lpd2000@gmail.com"
        },
        "triggerOn": "eventUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        -656,
        -336
      ],
      "id": "0d95419e-d8da-424b-8035-c724bcab9b4e",
      "name": "On Event Updated",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "UpYMdK76SRAFiDWv",
          "name": "GCalendar account LPD2000"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "lpd2000@gmail.com",
          "mode": "list",
          "cachedResultName": "lpd2000@gmail.com"
        },
        "triggerOn": "eventCancelled",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        -656,
        176
      ],
      "id": "09e3b593-bfd8-441f-9294-4564edc73aa5",
      "name": "On Event Deleted",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "UpYMdK76SRAFiDWv",
          "name": "GCalendar account LPD2000"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "filter-date",
              "leftValue": "={{ $json.created }}",
              "rightValue": "2025-11-07T00:00:00.000Z",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -432,
        -128
      ],
      "id": "93477cc0-80fd-4deb-b380-514e9d3c3053",
      "name": "Only New Events (Nov 7+)"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.item.json;\n\n// Build description with event details\nlet desc = '📅 Synced from lpd2000@gmail.com\\n\\n';\n\nif (d.organizer && d.organizer.email) {\n  desc += 'Organizer: ' + d.organizer.email + '\\n';\n}\n\nif (d.description) {\n  desc += 'Subject: ' + d.description + '\\n';\n}\n\nif (d.attendees && d.attendees.length > 0) {\n  const guests = d.attendees.map(a => a.email).join(', ');\n  desc += 'Guests: ' + guests + '\\n';\n}\n\nif (d.location) {\n  desc += 'Location: ' + d.location + '\\n';\n}\n\n// Add tracking marker - IMPORTANT: Use exact format for search\ndesc += '\\n---\\nSOURCE_ID:' + d.id;\n\n// Return properly formatted for n8n\nreturn {\n  json: {\n    sourceId: d.id,\n    summary: d.summary || 'No Title',\n    start: d.start.dateTime || d.start.date,\n    end: d.end.dateTime || d.end.date,\n    location: d.location || '',\n    description: desc,\n    isAllDay: d.start.date ? true : false\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -224
      ],
      "id": "f26240cb-b0dc-41bd-b588-3372f255fb36",
      "name": "Prepare Placeholder"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "9397417@gmail.com",
          "mode": "list",
          "cachedResultName": "9397417@gmail.com"
        },
        "returnAll": true,
        "options": {
          "query": "={{ 'SOURCE_ID:' + $json.sourceId }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        240,
        -224
      ],
      "id": "217348b0-9802-440d-a9b5-0f7355a26d0d",
      "name": "Find Existing",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1zAAg8U8iPEwINFE",
          "name": "GCalendar account 9397417"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "exists-check",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "7950981d-9e08-43a6-92bc-a9249ed119dd",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        464,
        -224
      ],
      "id": "c3ae8788-a10c-4d5a-806e-2bf98d843a50",
      "name": "Exists?"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "9397417@gmail.com",
          "mode": "list",
          "cachedResultName": "9397417@gmail.com"
        },
        "eventId": "={{ $json[0].id }}",
        "updateFields": {
          "description": "={{ $('Prepare Placeholder').item.json.description }}",
          "end": "={{ $('Prepare Placeholder').item.json.end }}",
          "location": "={{ $('Prepare Placeholder').item.json.location }}",
          "start": "={{ $('Prepare Placeholder').item.json.start }}",
          "summary": "={{ $('Prepare Placeholder').item.json.summary }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        672,
        -336
      ],
      "id": "9da2634f-9f31-45a7-8c53-5a4bffab5ec6",
      "name": "Update",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1zAAg8U8iPEwINFE",
          "name": "GCalendar account 9397417"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "9397417@gmail.com",
          "mode": "list",
          "cachedResultName": "9397417@gmail.com"
        },
        "start": "={{ $('Prepare Placeholder').item.json.start }}",
        "end": "={{ $('Prepare Placeholder').item.json.end }}",
        "additionalFields": {
          "description": "={{ $('Prepare Placeholder').item.json.description }}",
          "location": "={{ $('Prepare Placeholder').item.json.location }}",
          "summary": "={{ $('Prepare Placeholder').item.json.summary }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        672,
        -128
      ],
      "id": "4d9130ba-c8bf-446d-aab1-22d5ec7f7e47",
      "name": "Create",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1zAAg8U8iPEwINFE",
          "name": "GCalendar account 9397417"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "9397417@gmail.com",
          "mode": "list",
          "cachedResultName": "9397417@gmail.com"
        },
        "returnAll": true,
        "options": {
          "query": "={{ 'SOURCE_ID:' + $json.id }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        -432,
        176
      ],
      "id": "1dd09bc3-544d-4927-b13f-91856f83b870",
      "name": "Find Copy to Delete",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1zAAg8U8iPEwINFE",
          "name": "GCalendar account 9397417"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "found-check",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -208,
        176
      ],
      "id": "ce8be471-cb4b-4762-831a-f94adef3d0f2",
      "name": "Found Copy?"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "9397417@gmail.com",
          "mode": "list",
          "cachedResultName": "9397417@gmail.com"
        },
        "eventId": "={{ $json[0].id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        16,
        80
      ],
      "id": "3cafc7cd-9e86-47d7-84dc-090910cd0b8f",
      "name": "Delete Copy",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1zAAg8U8iPEwINFE",
          "name": "GCalendar account 9397417"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        16,
        272
      ],
      "id": "014291a3-3d4a-4150-80e4-c358e54d74be",
      "name": "No Copy Found"
    }
  ],
  "connections": {
    "On Event Created": {
      "main": [
        [
          {
            "node": "Only New Events (Nov 7+)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Event Updated": {
      "main": [
        [
          {
            "node": "Prepare Placeholder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Event Deleted": {
      "main": [
        [
          {
            "node": "Find Copy to Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only New Events (Nov 7+)": {
      "main": [
        [
          {
            "node": "Prepare Placeholder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Placeholder": {
      "main": [
        [
          {
            "node": "Find Existing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Existing": {
      "main": [
        [
          {
            "node": "Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exists?": {
      "main": [
        [
          {
            "node": "Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Copy to Delete": {
      "main": [
        [
          {
            "node": "Found Copy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Found Copy?": {
      "main": [
        [
          {
            "node": "Delete Copy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Copy Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-07T19:21:25.463Z",
  "updatedAt": "2025-11-07T21:00:57.989Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:On Event Created": {
      "lastTimeChecked": "2025-11-07T20:18:17Z"
    },
    "node:On Event Updated": {
      "lastTimeChecked": "2025-11-07T20:18:18Z"
    },
    "node:On Event Deleted": {
      "lastTimeChecked": "2025-11-07T20:18:18Z"
    }
  },
  "pinData": {},
  "versionId": "25a6ce88-3515-4c7d-ab38-9f5abc99ef8e",
  "triggerCount": 3,
  "id": "Jxt95bKndkE6Rm9g",
  "meta": null,
  "parentFolderId": null,
  "isArchived": false,
  "versionCounter": 22
}