calsynclpd939v2_2026-04-15T04-00-52.json
{
  "name": "CAL SYNC LPD 939. v2",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "lpd2000@gmail.com",
          "mode": "list",
          "cachedResultName": "lpd2000@gmail.com"
        },
        "triggerOn": "eventCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        -1104,
        304
      ],
      "id": "206aa0b9-a743-49cc-931c-82911d664267",
      "name": "Google Calendar created",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "UpYMdK76SRAFiDWv",
          "name": "GCalendar account LPD2000"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "lpd2000@gmail.com",
          "mode": "list",
          "cachedResultName": "lpd2000@gmail.com"
        },
        "triggerOn": "eventUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        -1104,
        112
      ],
      "id": "83685461-f6f6-499c-8d1d-555ea0241c35",
      "name": "Google Calendar updated",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "UpYMdK76SRAFiDWv",
          "name": "GCalendar account LPD2000"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "lpd2000@gmail.com",
          "mode": "list",
          "cachedResultName": "lpd2000@gmail.com"
        },
        "triggerOn": "eventCancelled",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        -1104,
        512
      ],
      "id": "e2789e81-e34a-4d93-b11f-4f1d4a413e7c",
      "name": "Google Calendar deleted",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "UpYMdK76SRAFiDWv",
          "name": "GCalendar account LPD2000"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "filter-past-events",
              "leftValue": "={{ $json.start.dateTime || $json.start.date }}",
              "rightValue": "={{ $now.minus({days: 1}).toISO() }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -880,
        208
      ],
      "id": "22a6b9f2-9434-436d-a4ce-5802fc38c175",
      "name": "Filter Past Events"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "store-source-id",
              "name": "sourceEventId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "store-organizer",
              "name": "organizer",
              "value": "={{ $json.organizer.email }}",
              "type": "string"
            },
            {
              "id": "store-summary",
              "name": "summary",
              "value": "={{ $json.summary }}",
              "type": "string"
            },
            {
              "id": "store-start",
              "name": "start",
              "value": "={{ $json.start.dateTime || $json.start.date }}",
              "type": "string"
            },
            {
              "id": "store-end",
              "name": "end",
              "value": "={{ $json.end.dateTime || $json.end.date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -656,
        112
      ],
      "id": "d4b4d95c-323d-4073-8558-e69ad6850875",
      "name": "Extract Event Data"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "9397417@gmail.com",
          "mode": "list",
          "cachedResultName": "9397417@gmail.com"
        },
        "returnAll": true,
        "options": {
          "query": "=={{ $('Extract Event Data').item.json.organizer }} {{ $('Extract Event Data').item.json.summary }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -448,
        112
      ],
      "id": "666ca0a4-ae62-4ba1-989f-0dc48716de8e",
      "name": "Search Existing Copy",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1zAAg8U8iPEwINFE",
          "name": "GCalendar account 9397417"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-exists",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        112
      ],
      "id": "5ea89772-62df-4ddb-a7ed-07a82a2b425e",
      "name": "Event Copy Exists?"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "9397417@gmail.com",
          "mode": "list",
          "cachedResultName": "9397417@gmail.com"
        },
        "eventId": "={{ $json[0].id }}",
        "updateFields": {
          "summary": "=={{ $('Extract Event Data').item.json.organizer }} {{ $('Extract Event Data').item.json.summary }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "4d2b9d34-9b81-4abb-a532-8d11a628ebed",
      "name": "Update Existing Copy",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1zAAg8U8iPEwINFE",
          "name": "GCalendar account 9397417"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "9397417@gmail.com",
          "mode": "list",
          "cachedResultName": "9397417@gmail.com"
        },
        "start": "={{ $('Extract Event Data').item.json.start }}",
        "end": "={{ $('Extract Event Data').item.json.end }}",
        "additionalFields": {
          "summary": "=={{ $('Extract Event Data').item.json.organizer }} {{ $('Extract Event Data').item.json.summary }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        0,
        208
      ],
      "id": "710fb6df-2853-4473-a7a2-6854e5df9b93",
      "name": "Create New Copy",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1zAAg8U8iPEwINFE",
          "name": "GCalendar account 9397417"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "9397417@gmail.com",
          "mode": "list",
          "cachedResultName": "9397417@gmail.com"
        },
        "returnAll": true,
        "options": {
          "query": "=={{ $json.organizer.email }} {{ $json.summary }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -880,
        512
      ],
      "id": "cbf43d12-953b-4170-9ecc-588c6ac4d60f",
      "name": "Search Copy to Delete",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1zAAg8U8iPEwINFE",
          "name": "GCalendar account 9397417"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-delete-exists",
              "leftValue": "={{ $json.length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -656,
        512
      ],
      "id": "e8c0e9cd-5f08-4250-8277-3a432090a6f5",
      "name": "Copy Found?"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "9397417@gmail.com",
          "mode": "list",
          "cachedResultName": "9397417@gmail.com"
        },
        "eventId": "={{ $json[0].id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -448,
        400
      ],
      "id": "a3e44c69-3e35-4ba1-bbea-73622cc8ba10",
      "name": "Delete Copy",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1zAAg8U8iPEwINFE",
          "name": "GCalendar account 9397417"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -448,
        608
      ],
      "id": "0d2973b0-18be-49c7-b952-bf10ea5689f7",
      "name": "No Copy Found"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -656,
        304
      ],
      "id": "951d0e42-b6ed-49a8-aa29-bb4e2c0c5802",
      "name": "Past Event - Skip"
    }
  ],
  "connections": {
    "Google Calendar created": {
      "main": [
        [
          {
            "node": "Filter Past Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar updated": {
      "main": [
        [
          {
            "node": "Filter Past Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar deleted": {
      "main": [
        [
          {
            "node": "Search Copy to Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Past Events": {
      "main": [
        [
          {
            "node": "Extract Event Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Past Event - Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Event Data": {
      "main": [
        [
          {
            "node": "Search Existing Copy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Existing Copy": {
      "main": [
        [
          {
            "node": "Event Copy Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event Copy Exists?": {
      "main": [
        [
          {
            "node": "Update Existing Copy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New Copy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Copy to Delete": {
      "main": [
        [
          {
            "node": "Copy Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy Found?": {
      "main": [
        [
          {
            "node": "Delete Copy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Copy Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-05T22:57:34.254Z",
  "updatedAt": "2025-11-10T23:42:11.141Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Calendar created": {
      "lastTimeChecked": "2025-11-06T00:25:04Z"
    },
    "node:Google Calendar updated": {
      "lastTimeChecked": "2025-11-06T00:25:01Z"
    },
    "node:Google Calendar deleted": {
      "lastTimeChecked": "2025-11-06T00:24:46Z"
    }
  },
  "pinData": {
    "Google Calendar created": [
      {
        "json": {
          "kind": "calendar#event",
          "etag": "\"2804978970824000\"",
          "id": "14hp5mj4uaaeosd3oi5bpmhj1s",
          "status": "confirmed",
          "htmlLink": "https://www.google.com/calendar/event?eid=MTRocDVtajR1YWFlb3NkM29pNWJwbWhqMXMgbHBkMjAwMEBt",
          "created": "2014-06-11T12:24:45.000Z",
          "updated": "2014-06-11T12:24:45.412Z",
          "summary": "Skype with Ronen (NCR)",
          "location": "Skype",
          "creator": {
            "email": "lpd2000@gmail.com",
            "displayName": "Paul Lomonossov",
            "self": true
          },
          "organizer": {
            "email": "lpd2000@gmail.com",
            "displayName": "Paul Lomonossov",
            "self": true
          },
          "start": {
            "dateTime": "2014-06-16T09:00:00-07:00",
            "timeZone": "Europe/Moscow"
          },
          "end": {
            "dateTime": "2014-06-16T10:00:00-07:00",
            "timeZone": "Europe/Moscow"
          },
          "iCalUID": "14hp5mj4uaaeosd3oi5bpmhj1s@google.com",
          "sequence": 0,
          "guestsCanInviteOthers": false,
          "guestsCanSeeOtherGuests": false,
          "reminders": {
            "useDefault": true
          },
          "eventType": "default"
        }
      }
    ]
  },
  "versionId": "173da2e5-7f19-4d1f-9688-21e6e33a8714",
  "triggerCount": 3,
  "id": "I7CMd1RkYZi79HBu",
  "meta": null,
  "parentFolderId": "WxkLNiYI2I4KBiMN",
  "isArchived": true,
  "versionCounter": 67,
  "description": null,
  "activeVersionId": null
}