cim2_2025-12-06T05-00-52.json
{
  "name": "CIM2",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Upload ML Listing",
        "formDescription": "Upload listing information",
        "formFields": {
          "values": [
            {
              "fieldLabel": "listing_pdf",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            },
            {
              "fieldLabel": "email",
              "fieldType": "email",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -640,
        -448
      ],
      "id": "114f5d0a-c20d-4b0c-8227-bf17fe5c5030",
      "name": "Form_Trigger",
      "webhookId": "GENERATE_NEW_ID"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "listing_pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -448,
        -448
      ],
      "id": "f8f5cd71-2d2e-4dfb-94cb-6cb6687286dd",
      "name": "Extract_PDF"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract business information from this listing:\n\n{{ $json.text }}\n\nReturn ONLY valid JSON:\n{\n  \"businessName\": \"\",\n  \"businessType\": \"\",\n  \"address\": \"\",\n  \"leasedSpace\": \"\",\n  \"parkingSpace\": \"\",\n  \"agentName\": \"\",\n  \"agentEmail\": \"\",\n  \"agentPhone\": \"\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -240,
        -448
      ],
      "id": "3af19862-a0ca-4d19-bb9e-009af512df27",
      "name": "Parse_Business_Details"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -240,
        -288
      ],
      "id": "e2443ec8-1402-4d79-b29e-f2a22a84ef00",
      "name": "LLM_Parse",
      "credentials": {
        "openAiApi": {
          "id": "T6jALHM6FIHsU7i3",
          "name": "OpenAi API"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\nimport re\n\n# Get the raw output\nraw = _input.item.json.get('output', '')\n\n# If empty, return error\nif not raw:\n    return {'json': {'error': 'No output from agent'}}\n\n# Remove markdown code blocks if present\nraw = re.sub(r'```json\\s*', '', raw)\nraw = re.sub(r'```\\s*', '', raw)\n\n# Try to find JSON in the text\ntry:\n    # Look for first { to last }\n    start = raw.index('{')\n    end = raw.rindex('}') + 1\n    json_str = raw[start:end]\n    data = json.loads(json_str)\n    return {'json': data}\nexcept Exception as e:\n    # If parsing fails, return the raw text for debugging\n    return {'json': {'error': str(e), 'raw_output': raw}}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -448
      ],
      "id": "f5f9f6cf-9740-4464-9a9b-33ca953023f0",
      "name": "Parse_JSON"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Search the internet for business information",
        "query": "={{ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        96,
        -64
      ],
      "id": "cc89c4f1-47ee-48d3-ad50-90fcbeae652f",
      "name": "Web_Search",
      "credentials": {
        "tavilyApi": {
          "id": "oqdSWHxM8aQ5uKiO",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Competitor Analysis:\n\nBusiness: {{ $json.businessName }}\nType: {{ $json.businessType }}\nAddress: {{ $json.address }}\n\nFind 3-5 direct competitors within 5km. For each:\n- Name\n- Services\n- Online presence\n- Positioning\n- Strengths\n- Weaknesses\n\nReturn ONLY JSON:\n{\"competitors\": [{\"name\":\"\", \"services\":\"\", \"online\":\"\", \"positioning\":\"\", \"strengths\":\"\", \"weaknesses\":\"\"}]}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        464,
        -736
      ],
      "id": "eaa48fa3-bd9c-465f-9c66-9e046bdeab41",
      "name": "Competitor_Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        432,
        -560
      ],
      "id": "d5a6971c-8202-4c08-af70-b22a7e523389",
      "name": "LLM_Competitor",
      "credentials": {
        "openAiApi": {
          "id": "T6jALHM6FIHsU7i3",
          "name": "OpenAi API"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\n\nraw = _input.item.json['output']\ndata = json.loads(raw) if isinstance(raw, str) else raw\n\ncomps = data.get('competitors', [])\n\ntable = 'COMPETITOR ANALYSIS\\n' + '='*50 + '\\n\\n'\ntable += 'Name\\tServices\\tOnline\\tPositioning\\tStrengths\\tWeaknesses\\n'\ntable += '---\\t---\\t---\\t---\\t---\\t---\\n'\n\nfor c in comps:\n    table += f\"{c.get('name','')}\\t{c.get('services','')}\\t{c.get('online','')}\\t{c.get('positioning','')}\\t{c.get('strengths','')}\\t{c.get('weaknesses','')}\\n\"\n\nreturn {'json': {'section': 'competitors', 'content': table}}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        -720
      ],
      "id": "181f3ea0-7ecf-4a28-9d29-e07d33e5f875",
      "name": "Format_Competitors"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Demographics Analysis:\n\nLocation: {{ $json.address }}\nBusiness: {{ $json.businessType }}\n\nResearch:\n- Population density\n- Age distribution  \n- Income levels\n- Foot traffic patterns\n- Target segments\n\nProvide concise analysis.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        528,
        -464
      ],
      "id": "6708dfb0-e13b-4de0-a6d2-83d9028c6075",
      "name": "Demographics_Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        -320
      ],
      "id": "fa5d679a-92b7-4cf7-ae06-64dbb91d6c4c",
      "name": "LLM_Demographics",
      "credentials": {
        "openAiApi": {
          "id": "T6jALHM6FIHsU7i3",
          "name": "OpenAi API"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "raw = _input.item.json['output']\ntext = raw.replace('###','').replace('**','')\n\ncontent = 'DEMOGRAPHICS & FOOT TRAFFIC\\n' + '='*50 + '\\n\\n' + text\n\nreturn {'json': {'section': 'demographics', 'content': content}}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        -400
      ],
      "id": "2439cf51-521c-4618-a299-d548692ad6e7",
      "name": "Format_Demographics"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Reviews & Reputation:\n\nBusiness: {{ $json.businessName }}\nAddress: {{ $json.address }}\n\nSearch Google Maps, Yelp, Facebook for:\n- Ratings\n- Sentiment\n- Common praise\n- Common complaints\n- Online presence\n\nProvide concise analysis.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        560,
        -128
      ],
      "id": "082c9ef3-e572-45bb-82a4-338c63080008",
      "name": "Reviews_Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        464,
        16
      ],
      "id": "8b4903ec-ec2d-46a2-9a75-665de8e39e07",
      "name": "LLM_Reviews",
      "credentials": {
        "openAiApi": {
          "id": "T6jALHM6FIHsU7i3",
          "name": "OpenAi API"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "raw = _input.item.json['output']\ntext = raw.replace('###','').replace('**','')\n\ncontent = 'REVIEWS & REPUTATION\\n' + '='*50 + '\\n\\n' + text\n\nreturn {'json': {'section': 'reviews', 'content': content}}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        -208
      ],
      "id": "19d32921-4bbf-4a88-8c08-67f1b7c3428e",
      "name": "Format_Reviews"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Market Trends:\n\nBusiness Type: {{ $json.businessType }}\nLocation: {{ $json.address }}\n\nResearch:\n- Industry trends\n- Local market conditions\n- Growth/decline\n- Consumer behavior\n- Opportunities & threats\n\nProvide concise analysis.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        544,
        128
      ],
      "id": "b0583340-f83c-473f-a581-e725fb6fc074",
      "name": "Market_Trends_Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        544,
        272
      ],
      "id": "a33d81d0-73c3-4049-8571-d76ee52dbbfd",
      "name": "LLM_Trends",
      "credentials": {
        "openAiApi": {
          "id": "T6jALHM6FIHsU7i3",
          "name": "OpenAi API"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "raw = _input.item.json['output']\ntext = raw.replace('###','').replace('**','')\n\ncontent = 'MARKET TRENDS & CONDITIONS\\n' + '='*50 + '\\n\\n' + text\n\nreturn {'json': {'section': 'trends', 'content': content}}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        0
      ],
      "id": "c2330308-a378-440a-8872-40a480586cdf",
      "name": "Format_Trends"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet report = 'BUSINESS MARKETING RESEARCH REPORT\\n';\nreport += '='.repeat(70) + '\\n\\n';\n\nconst sections = ['competitors', 'demographics', 'reviews', 'trends'];\n\nfor (const section of sections) {\n  const item = items.find(i => i.json.section === section);\n  if (item) {\n    report += item.json.content + '\\n\\n';\n  }\n}\n\nreturn [{json: {final_report: report}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        -416
      ],
      "id": "9c62e120-9d0e-43c4-b2a6-ef5c05c1375e",
      "name": "Aggregate_Report"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Based on this market research, write a concise executive summary (200-300 words) with key findings and recommendations:\n\n{{ $json.final_report }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1152,
        -416
      ],
      "id": "fb4d44e5-e3e9-49c4-82ef-a5f97e83b33f",
      "name": "Generate_Summary"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1152,
        -256
      ],
      "id": "5c752032-6861-4d6c-a1f8-19daae3270c3",
      "name": "LLM_Summary",
      "credentials": {
        "openAiApi": {
          "id": "T6jALHM6FIHsU7i3",
          "name": "OpenAi API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const summary = $input.first().json.output;\nconst report = $('Aggregate_Report').item.json.final_report;\nconst business = $('Parse_JSON').item.json;\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial; margin: 40px; }\n    h1 { color: #2c3e50; }\n    h2 { color: #34495e; margin-top: 30px; }\n    .header { background: #ecf0f1; padding: 20px; }\n    table { border-collapse: collapse; width: 100%; margin: 20px 0; }\n    td { border: 1px solid #ddd; padding: 8px; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>Market Research Report</h1>\n    <p><strong>Business:</strong> ${business.businessName}</p>\n    <p><strong>Type:</strong> ${business.businessType}</p>\n    <p><strong>Address:</strong> ${business.address}</p>\n  </div>\n  \n  <h2>Executive Summary</h2>\n  <p>${summary}</p>\n  \n  <h2>Detailed Analysis</h2>\n  <pre>${report}</pre>\n</body>\n</html>\n`;\n\nreturn [{json: {html}, binary: {data: {data: Buffer.from(html).toString('base64'), mimeType: 'text/html'}}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        -416
      ],
      "id": "b009a1b9-77cf-4593-8a0a-52ff00a95e60",
      "name": "Build_HTML_Report"
    }
  ],
  "connections": {
    "Form_Trigger": {
      "main": [
        [
          {
            "node": "Extract_PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract_PDF": {
      "main": [
        [
          {
            "node": "Parse_Business_Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse_Business_Details": {
      "main": [
        [
          {
            "node": "Parse_JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM_Parse": {
      "ai_languageModel": [
        [
          {
            "node": "Parse_Business_Details",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse_JSON": {
      "main": [
        [
          {
            "node": "Competitor_Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Demographics_Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reviews_Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Market_Trends_Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Web_Search": {
      "ai_tool": [
        [
          {
            "node": "Competitor_Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Demographics_Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Reviews_Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Market_Trends_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Competitor_Agent": {
      "main": [
        [
          {
            "node": "Format_Competitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM_Competitor": {
      "ai_languageModel": [
        [
          {
            "node": "Competitor_Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format_Competitors": {
      "main": [
        [
          {
            "node": "Aggregate_Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Demographics_Agent": {
      "main": [
        [
          {
            "node": "Format_Demographics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM_Demographics": {
      "ai_languageModel": [
        [
          {
            "node": "Demographics_Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format_Demographics": {
      "main": [
        [
          {
            "node": "Aggregate_Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reviews_Agent": {
      "main": [
        [
          {
            "node": "Format_Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM_Reviews": {
      "ai_languageModel": [
        [
          {
            "node": "Reviews_Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format_Reviews": {
      "main": [
        [
          {
            "node": "Aggregate_Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Market_Trends_Agent": {
      "main": [
        [
          {
            "node": "Format_Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM_Trends": {
      "ai_languageModel": [
        [
          {
            "node": "Market_Trends_Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format_Trends": {
      "main": [
        [
          {
            "node": "Aggregate_Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate_Report": {
      "main": [
        [
          {
            "node": "Generate_Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate_Summary": {
      "main": [
        [
          {
            "node": "Build_HTML_Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM_Summary": {
      "ai_languageModel": [
        [
          {
            "node": "Generate_Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-05T00:47:30.722Z",
  "updatedAt": "2025-12-06T00:11:20.558Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "08a0c2e5-3f28-4afc-b0f0-16ddff32fd81",
  "triggerCount": 0,
  "id": "JppATl2Inuy8mjEz",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "parentFolderId": null,
  "isArchived": false,
  "versionCounter": 5,
  "description": null
}