cim2_2026-02-27T17-00-42.json
{
  "name": "CIM2",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Upload ML Listing",
        "formDescription": "Upload listing information",
        "formFields": {
          "values": [
            {
              "fieldLabel": "listing_pdf",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            },
            {
              "fieldLabel": "email",
              "fieldType": "email",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -640,
        -32
      ],
      "id": "114f5d0a-c20d-4b0c-8227-bf17fe5c5030",
      "name": "Form_Trigger",
      "webhookId": "GENERATE_NEW_ID"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "listing_pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -416,
        -32
      ],
      "id": "f8f5cd71-2d2e-4dfb-94cb-6cb6687286dd",
      "name": "Extract_PDF"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract business information from this listing:\n\n{{ $json.text }}\n\nReturn ONLY valid JSON:\n{\n  \"businessName\": \"\",\n  \"businessType\": \"\",\n  \"address\": \"\",\n  \"leasedSpace\": \"\",\n  \"parkingSpace\": \"\",\n  \"agentName\": \"\",\n  \"agentEmail\": \"\",\n  \"agentPhone\": \"\",\n  \"agentNotes\": \"\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -192,
        -32
      ],
      "id": "3af19862-a0ca-4d19-bb9e-009af512df27",
      "name": "Parse_Business_Details"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -128,
        192
      ],
      "id": "e2443ec8-1402-4d79-b29e-f2a22a84ef00",
      "name": "LLM_Parse",
      "credentials": {
        "openAiApi": {
          "id": "T6jALHM6FIHsU7i3",
          "name": "OpenAi API"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\nimport re\n\n# Get the raw output\nraw = _input.item.json.get('output', '')\n\n# If empty, return error\nif not raw:\n    return {'json': {'error': 'No output from agent'}}\n\n# Remove markdown code blocks if present\nraw = re.sub(r'```json\\s*', '', raw)\nraw = re.sub(r'```\\s*', '', raw)\n\n# Try to find JSON in the text\ntry:\n    # Look for first { to last }\n    start = raw.index('{')\n    end = raw.rindex('}') + 1\n    json_str = raw[start:end]\n    data = json.loads(json_str)\n    return {'json': data}\nexcept Exception as e:\n    # If parsing fails, return the raw text for debugging\n    return {'json': {'error': str(e), 'raw_output': raw}}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -32
      ],
      "id": "f5f9f6cf-9740-4464-9a9b-33ca953023f0",
      "name": "Parse_JSON"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Search the internet for business information",
        "query": "={{ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        -64,
        -464
      ],
      "id": "cc89c4f1-47ee-48d3-ad50-90fcbeae652f",
      "name": "Web_Search",
      "credentials": {
        "tavilyApi": {
          "id": "oqdSWHxM8aQ5uKiO",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Competitor Analysis:\n\nBusiness: {{ $json.businessName }}\nType: {{ $json.businessType }}\nAddress: {{ $json.address }}\n\nFind 3-5 direct competitors within 5km. For each:\n- Name\n- Services\n- Online presence\n- Positioning\n- Strengths\n- Weaknesses\n\nReturn ONLY JSON:\n{\"competitors\": [{\"name\":\"\", \"services\":\"\", \"online\":\"\", \"positioning\":\"\", \"strengths\":\"\", \"weaknesses\":\"\"}]}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        384,
        -736
      ],
      "id": "eaa48fa3-bd9c-465f-9c66-9e046bdeab41",
      "name": "Competitor_Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        -512
      ],
      "id": "d5a6971c-8202-4c08-af70-b22a7e523389",
      "name": "LLM_Competitor",
      "credentials": {
        "openAiApi": {
          "id": "T6jALHM6FIHsU7i3",
          "name": "OpenAi API"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\nimport re\n\n# Get the raw output\nraw = _input.item.json.get('output', '')\n\n# If empty, return empty section\nif not raw:\n    return {'json': {'section': 'competitors', 'content': 'COMPETITOR ANALYSIS\\n' + '='*50 + '\\n\\nNo data available.\\n'}}\n\n# Remove markdown backticks and \"json\" label\nraw = raw.strip()\nraw = re.sub(r'^`+json\\s*', '', raw)  # Remove opening ```json\nraw = re.sub(r'`+$', '', raw)  # Remove closing ```\nraw = raw.strip()\n\n# Parse JSON\ntry:\n    data = json.loads(raw)\nexcept Exception as e:\n    return {'json': {'section': 'competitors', 'content': f'COMPETITOR ANALYSIS\\n' + '='*50 + f'\\n\\nError parsing: {str(e)}\\n'}}\n\ncomps = data.get('competitors', [])\n\ntable = 'COMPETITOR ANALYSIS\\n' + '='*50 + '\\n\\n'\ntable += 'Name\\tServices\\tOnline\\tPositioning\\tStrengths\\tWeaknesses\\n'\ntable += '---\\t---\\t---\\t---\\t---\\t---\\n'\n\nfor c in comps:\n    table += f\"{c.get('name','')}\\t{c.get('services','')}\\t{c.get('online','')}\\t{c.get('positioning','')}\\t{c.get('strengths','')}\\t{c.get('weaknesses','')}\\n\"\n\nreturn {'json': {'section': 'competitors', 'content': table}}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        -640
      ],
      "id": "181f3ea0-7ecf-4a28-9d29-e07d33e5f875",
      "name": "Format_Competitors"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Demographics Analysis:\n\nLocation: {{ $json.address }}\nBusiness: {{ $json.businessType }}\n\nResearch:\n- Population density\n- Age distribution  \n- Income levels\n- Foot traffic patterns\n- Target segments\n\nProvide concise analysis.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        384,
        -336
      ],
      "id": "6708dfb0-e13b-4de0-a6d2-83d9028c6075",
      "name": "Demographics_Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        464,
        -112
      ],
      "id": "fa5d679a-92b7-4cf7-ae06-64dbb91d6c4c",
      "name": "LLM_Demographics",
      "credentials": {
        "openAiApi": {
          "id": "T6jALHM6FIHsU7i3",
          "name": "OpenAi API"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "raw = _input.item.json['output']\ntext = raw.replace('###','').replace('**','')\n\ncontent = 'DEMOGRAPHICS & FOOT TRAFFIC\\n' + '='*50 + '\\n\\n' + text\n\nreturn {'json': {'section': 'demographics', 'content': content}}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        -240
      ],
      "id": "2439cf51-521c-4618-a299-d548692ad6e7",
      "name": "Format_Demographics"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Reviews & Reputation:\n\nBusiness: {{ $json.businessName }}\nAddress: {{ $json.address }}\n\nSearch Google Maps, Yelp, Facebook for:\n- Ratings\n- Sentiment\n- Common praise\n- Common complaints\n- Online presence\n\nProvide concise analysis.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        384,
        64
      ],
      "id": "082c9ef3-e572-45bb-82a4-338c63080008",
      "name": "Reviews_Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        464,
        288
      ],
      "id": "8b4903ec-ec2d-46a2-9a75-665de8e39e07",
      "name": "LLM_Reviews",
      "credentials": {
        "openAiApi": {
          "id": "T6jALHM6FIHsU7i3",
          "name": "OpenAi API"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "raw = _input.item.json['output']\ntext = raw.replace('###','').replace('**','')\n\ncontent = 'REVIEWS & REPUTATION\\n' + '='*50 + '\\n\\n' + text\n\nreturn {'json': {'section': 'reviews', 'content': content}}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        176
      ],
      "id": "19d32921-4bbf-4a88-8c08-67f1b7c3428e",
      "name": "Format_Reviews"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Market Trends:\n\nBusiness Type: {{ $json.businessType }}\nLocation: {{ $json.address }}\n\nResearch:\n- Industry trends\n- Local market conditions\n- Growth/decline\n- Consumer behavior\n- Opportunities & threats\n\nProvide concise analysis.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        384,
        576
      ],
      "id": "b0583340-f83c-473f-a581-e725fb6fc074",
      "name": "Market_Trends_Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        464,
        800
      ],
      "id": "a33d81d0-73c3-4049-8571-d76ee52dbbfd",
      "name": "LLM_Trends",
      "credentials": {
        "openAiApi": {
          "id": "T6jALHM6FIHsU7i3",
          "name": "OpenAi API"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "raw = _input.item.json['output']\ntext = raw.replace('###','').replace('**','')\n\ncontent = 'MARKET TRENDS & CONDITIONS\\n' + '='*50 + '\\n\\n' + text\n\nreturn {'json': {'section': 'trends', 'content': content}}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        576
      ],
      "id": "c2330308-a378-440a-8872-40a480586cdf",
      "name": "Format_Trends"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet report = 'BUSINESS MARKETING RESEARCH REPORT\\n';\nreport += '='.repeat(70) + '\\n\\n';\n\nconst sections = ['competitors', 'demographics', 'reviews', 'trends'];\n\nfor (const section of sections) {\n  const item = items.find(i => i.json.section === section);\n  if (item) {\n    report += item.json.content + '\\n\\n';\n  }\n}\n\nreturn [{json: {final_report: report}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        -816
      ],
      "id": "9c62e120-9d0e-43c4-b2a6-ef5c05c1375e",
      "name": "Aggregate_Report"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Based on this market research, write a concise executive summary (200-300 words) with key findings and recommendations:\n\n{{ $json.final_report }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1488,
        -816
      ],
      "id": "fb4d44e5-e3e9-49c4-82ef-a5f97e83b33f",
      "name": "Generate_Summary"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1568,
        -592
      ],
      "id": "5c752032-6861-4d6c-a1f8-19daae3270c3",
      "name": "LLM_Summary",
      "credentials": {
        "openAiApi": {
          "id": "T6jALHM6FIHsU7i3",
          "name": "OpenAi API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const summary = $input.first().json.output;\nconst report = $('Aggregate_Report').item.json.final_report;\nconst business = $('Parse_JSON').item.json;\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial; margin: 40px; }\n    h1 { color: #2c3e50; }\n    h2 { color: #34495e; margin-top: 30px; }\n    .header { background: #ecf0f1; padding: 20px; }\n    table { border-collapse: collapse; width: 100%; margin: 20px 0; }\n    td { border: 1px solid #ddd; padding: 8px; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>Market Research Report</h1>\n    <p><strong>Business:</strong> ${business.businessName}</p>\n    <p><strong>Type:</strong> ${business.businessType}</p>\n    <p><strong>Address:</strong> ${business.address}</p>\n  </div>\n  \n  <h2>Executive Summary</h2>\n  <p>${summary}</p>\n  \n  <h2>Detailed Analysis</h2>\n  <pre>${report}</pre>\n</body>\n</html>\n`;\n\nreturn [{json: {html}, binary: {data: {data: Buffer.from(html).toString('base64'), mimeType: 'text/html'}}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        -816
      ],
      "id": "b009a1b9-77cf-4593-8a0a-52ff00a95e60",
      "name": "Build_HTML_Report"
    },
    {
      "parameters": {
        "jsCode": "// Get all the data from previous nodes\nconst business = $input.item.json;\nconst parse_data = $('Parse_JSON').item.json;\nconst summary = $('Generate_Summary').item.json.output;\nconst full_report = $('Aggregate_Report').item.json.final_report;\n\nconst template_data = {\n    // Header\n    COMPANY_NAME: parse_data.businessName || 'N/A',\n    BUSINESS_TYPE: parse_data.businessType || 'N/A',\n    PHONE_NUMBER: parse_data.agentPhone || 'N/A',\n    WEBSITE_URL: parse_data.agentWeb || 'N/A',\n    CONTACT_EMAIL: parse_data.agentEmail || 'N/A',\n    BROKER_OR_SELLER_NAME: parse_data.agentName || 'N/A',\n    \n    // Key Terms\n    FULL_ADDRESS: parse_data.address || 'N/A',\n    CITY: 'Port Moody',\n    COUNTRY: 'Canada',\n    SIZE_SQFT: parse_data.leasedSpace || 'N/A',\n    ANNUAL_RENT: 'TBD',\n    SALE_PRICE: 'TBD',\n    INVENTORY_VALUE: 'TBD',\n    ASSET_OR_SHARE_SALE: 'Asset Sale',\n    IMMEDIATE_HANDOVER_DATE_OR_TERMS: 'Upon completion of due diligence',\n    \n    // Introduction\n    LOCATION_SHORT: 'Port Moody Centre',\n    KEY_OFFERINGS: 'Tea and hookah services',\n    PRIMARY_CUSTOMER_BASE: 'local residents and visitors',\n    DISCLOSED_SUMMARY_OR_NOT_DISCLOSED: 'available upon NDA execution',\n    \n    // Financials\n    YEAR_1: '2023',\n    REV_YEAR_1: 'TBD',\n    GP_YEAR_1: 'TBD',\n    EBITDA_YEAR_1: 'TBD',\n    NOTES_YEAR_1: 'Owner-operated',\n    \n    YEAR_2: '2024',\n    REV_YEAR_2: 'TBD',\n    GP_YEAR_2: 'TBD',\n    EBITDA_YEAR_2: 'TBD',\n    NOTES_YEAR_2: 'Current year',\n    \n    YEAR_3: '2025',\n    REV_YEAR_3: 'Projected',\n    GP_YEAR_3: 'TBD',\n    EBITDA_YEAR_3: 'TBD',\n    NOTES_YEAR_3: 'Based on current trajectory',\n    \n    // Assets\n    ASSET_1: 'Hookah equipment and furniture',\n    ASSET_2: 'Tea preparation equipment',\n    ASSET_3: 'POS system and fixtures',\n    \n    // Location\n    GOOGLE_MAPS_URL: `https://www.google.com/maps/search/?api=1&query=${encodeURIComponent(parse_data.address || '')}`,\n    LOCATION_DESCRIPTION: 'Located in Port Moody Centre, serving local community and visitors',\n    \n    // Market Research\n    AREA_NAME: 'Port Moody',\n    DENSITY_DESCRIPTION: 'moderate density residential and commercial area',\n    ESTIMATED_POPULATION: '~35,000',\n    YEAR_OF_ESTIMATE: '2024',\n    DENSITY_PER_KM2: '~1,297',\n    DEMOGRAPHIC_SUMMARY: 'middle to upper-middle income families and young professionals',\n    PRICE_POSITIONING: 'mid-range leisure and social dining',\n    \n    // Traffic\n    TRAFFIC_DRIVERS: 'nearby shopping areas, residential density, and commuter traffic',\n    FOOTFALL_HOTSPOTS: 'St. John Street commercial corridor',\n    PEAK_TIMES: 'Evenings and weekends',\n    ACCESS_NOTES: 'Street parking available, accessible from main road',\n    TRAFFIC_LEVEL: 'moderate',\n    OUTLET_POSITIONING: 'a leisure-focused hookah lounge',\n    \n    // Competitors\n    COMPETITOR_1_NAME: 'Darvish Hookah Lounge',\n    COMPETITOR_1_TYPE: 'Hookah Lounge',\n    COMPETITOR_1_DISTANCE: '~2km',\n    COMPETITOR_1_NOTES: 'Premium experience, diverse offerings',\n    \n    COMPETITOR_2_NAME: 'Kayan Shisha Hookah Cafe',\n    COMPETITOR_2_TYPE: 'Hookah Cafe',\n    COMPETITOR_2_DISTANCE: '~3km',\n    COMPETITOR_2_NOTES: 'Chill setting, wide flavor selection',\n    \n    COMPETITOR_3_NAME: 'Midnight Cafe & Hookah Lounge',\n    COMPETITOR_3_TYPE: 'Cafe & Lounge',\n    COMPETITOR_3_DISTANCE: '~4km',\n    COMPETITOR_3_NOTES: 'Late-night spot, younger demographic',\n    \n    COMPETITIVE_POSITIONING_SUMMARY: 'Market has established players but room for differentiated positioning',\n    \n    // Strategic\n    SITE_SELECTION_NOTES: 'High-visibility location on main street',\n    OPERATIONAL_STRATEGY_NOTES: 'Focus on quality tea selection and ambiance',\n    MARKETING_DELIVERY_NOTES: 'Leverage social media and local partnerships',\n    SEASONALITY_RISKS: 'Some seasonal variation in evening traffic',\n    \n    // Conclusion\n    OVERALL_ATTRACTIVENESS: 'moderately attractive',\n    POSITIONING_STATEMENT: 'quality-focused hookah and tea lounge',\n    KEY_SUCCESS_FACTORS: 'strong service quality and community engagement'\n};\n\nreturn [{json: template_data}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        -816
      ],
      "id": "f34dffdb-23d5-4346-a2ce-ecf3031c93ff",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "pdf",
        "operation": "__CUSTOM_API_CALL__"
      },
      "type": "n8n-nodes-base.apiTemplateIo",
      "typeVersion": 1,
      "position": [
        2256,
        -816
      ],
      "id": "e5eda151-65cd-4416-afac-dd36ca36175a",
      "name": "__CUSTOM_API_CALL__ pdf",
      "credentials": {
        "apiTemplateIoApi": {
          "id": "qYZrywJfWXmiFtUG",
          "name": "Test n8n"
        }
      }
    },
    {
      "parameters": {
        "content": "## PREVIOUS PDF WRAPING FLOW. DELETE IF CARBONE.IIO WORKS\n",
        "height": 544,
        "width": 1392
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1136,
        -928
      ],
      "typeVersion": 1,
      "id": "6eec3003-9af7-49b6-ba96-ab32bd9e7932",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "430e789e-cd92-45df-936f-3c11e472f352",
              "name": "businessName",
              "value": "={{ $('Parse_JSON').item.json.businessName }}",
              "type": "string"
            },
            {
              "id": "c0679e0f-0774-4ee4-907c-f7603a5b4bb1",
              "name": "agentName",
              "value": "={{ $('Parse_JSON').item.json.agentName }}",
              "type": "string"
            },
            {
              "id": "c56b92f8-abbc-42a9-adc6-3d83069fd62d",
              "name": "agentPhone",
              "value": "={{ $('Parse_JSON').item.json.agentPhone }}",
              "type": "string"
            },
            {
              "id": "125f4f57-5815-4ef6-b57a-817531fc5b84",
              "name": "agentEmail",
              "value": "={{ $('Parse_JSON').item.json.agentEmail }}",
              "type": "string"
            },
            {
              "id": "62723168-76fa-4d54-87d5-a7246da4fa9f",
              "name": "businessType",
              "value": "={{ $('Parse_JSON').item.json.businessType }}",
              "type": "string"
            },
            {
              "id": "ca414ad3-6a9c-4033-a980-8d43fa83238f",
              "name": "address",
              "value": "={{ $('Parse_JSON').item.json.address }}",
              "type": "string"
            },
            {
              "id": "da164741-044e-4570-b6dc-08dff9de6e5c",
              "name": "leaseSpace",
              "value": "={{ $('Parse_JSON').item.json.leasedSpace }}",
              "type": "string"
            },
            {
              "id": "6e22cf04-50fc-40e7-b3a8-b336ae5261d4",
              "name": "agentNotes",
              "value": "={{ $('Parse_JSON').item.json.agentNotes }}",
              "type": "string"
            },
            {
              "id": "48b196ac-32bb-447e-9e8b-4978b7dda67f",
              "name": "marketTrends",
              "value": "={{ $('Market_Trends_Agent').item.json.output }}",
              "type": "string"
            },
            {
              "id": "094e659d-a0b4-477c-93f4-e1c9be8dc4bd",
              "name": "areaDemographics",
              "value": "={{ $('Demographics_Agent').item.json.output }}",
              "type": "string"
            },
            {
              "id": "72fd50e8-16bf-4c01-b1b6-84ecad90d7a9",
              "name": "businessReviews",
              "value": "={{ $('Reviews_Agent').item.json.output }}",
              "type": "string"
            },
            {
              "id": "3bb4f914-b692-450d-99b1-a4c7037c90da",
              "name": "businessCompetitors",
              "value": "={{ $('Competitor_Agent').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        -160
      ],
      "id": "bef25291-f8f3-4e20-b21b-3b5e12acefc4",
      "name": "Mapper"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1120,
        -64
      ],
      "id": "1b140e04-8cc4-4757-8e2e-098537747feb",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    businessName: $('Parse_JSON').item.json.businessName,\n    agentName: $('Parse_JSON').item.json.agentName,\n    agentPhone: $('Parse_JSON').item.json.agentPhone,\n    agentEmail: $('Parse_JSON').item.json.agentEmail,\n    address: $('Parse_JSON').item.json.address,\n    marketTrends: $('Market_Trends_Agent').item.json.output,\n    areaDemographics: $('Demographics_Agent').item.json.output,\n    businessReviews: $('Reviews_Agent').item.json.output,\n    businessCompetitors: $('Competitor_Agent').item.json.output\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        -64
      ],
      "id": "c030b9b6-cc8c-481a-a408-8f4f05331715",
      "name": "Mapper1"
    }
  ],
  "connections": {
    "Form_Trigger": {
      "main": [
        [
          {
            "node": "Extract_PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract_PDF": {
      "main": [
        [
          {
            "node": "Parse_Business_Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse_Business_Details": {
      "main": [
        [
          {
            "node": "Parse_JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM_Parse": {
      "ai_languageModel": [
        [
          {
            "node": "Parse_Business_Details",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse_JSON": {
      "main": [
        [
          {
            "node": "Competitor_Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Demographics_Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reviews_Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Market_Trends_Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Web_Search": {
      "ai_tool": [
        [
          {
            "node": "Competitor_Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Demographics_Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Reviews_Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Market_Trends_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Competitor_Agent": {
      "main": [
        [
          {
            "node": "Format_Competitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM_Competitor": {
      "ai_languageModel": [
        [
          {
            "node": "Competitor_Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format_Competitors": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Demographics_Agent": {
      "main": [
        [
          {
            "node": "Format_Demographics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM_Demographics": {
      "ai_languageModel": [
        [
          {
            "node": "Demographics_Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format_Demographics": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Reviews_Agent": {
      "main": [
        [
          {
            "node": "Format_Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM_Reviews": {
      "ai_languageModel": [
        [
          {
            "node": "Reviews_Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format_Reviews": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Market_Trends_Agent": {
      "main": [
        [
          {
            "node": "Format_Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM_Trends": {
      "ai_languageModel": [
        [
          {
            "node": "Market_Trends_Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format_Trends": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Aggregate_Report": {
      "main": [
        [
          {
            "node": "Generate_Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate_Summary": {
      "main": [
        [
          {
            "node": "Build_HTML_Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM_Summary": {
      "ai_languageModel": [
        [
          {
            "node": "Generate_Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Build_HTML_Report": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "__CUSTOM_API_CALL__ pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Mapper1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-05T00:47:30.722Z",
  "updatedAt": "2025-12-11T23:32:01.166Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "6573bcb6-cc82-403a-a658-70ae41bf9af0",
  "triggerCount": 0,
  "id": "JppATl2Inuy8mjEz",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "parentFolderId": null,
  "isArchived": false,
  "versionCounter": 17,
  "description": null,
  "activeVersionId": null
}