cim2_2025-12-05T17-00-52.json
{
  "name": "CIM2",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -544,
        -48
      ],
      "id": "c4192390-730a-41bd-ab4b-fc8bd169ad2f",
      "name": "LLM1",
      "credentials": {
        "openAiApi": {
          "id": "T6jALHM6FIHsU7i3",
          "name": "OpenAi API"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Upload ML Lisitng",
        "formDescription": "Uplod listing information",
        "formFields": {
          "values": [
            {
              "fieldLabel": "data",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1616,
        -16
      ],
      "id": "cc47749e-db2e-4611-8655-0151586fb5ba",
      "name": "submission1",
      "webhookId": "f4272f0d-6426-4d8e-949a-32e84b9fb7be"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1408,
        -16
      ],
      "id": "95ddaea0-c402-4266-bd1d-203e9fe6a2dd",
      "name": "Extract1"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Search internet by the company name and address to define the business type ",
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        -816,
        96
      ],
      "id": "6586818a-767b-4ecb-9f44-1736049b84f2",
      "name": "Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "oqdSWHxM8aQ5uKiO",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract from this PDF:\n\n{{ $json.text }}\n\nReturn ONLY JSON (no tools needed unless businessType is \"Business\" or \"Retail\"):\n{\n  \"businessInfo\": {\"businessName\":\"\", \"businessType\":\"\", \"leasedSpace\":\"\", \"parkingSpace\":\"\"},\n  \"locationInfo\": {\"address\":\"\"},\n  \"agentInfo\": {\"agentName\":\"\", \"agentWeb\":\"\", \"agentEmail\":\"\", \"agentPhone\":\"\"},\n  \"additionalInfo\": {\"agentNote\":\"\"}\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1200,
        -16
      ],
      "id": "280045f1-f99b-43d0-9dd2-d88da33e3479",
      "name": "Parse_Listing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Competitor Analysis Specialist.\n\nBusiness Details:\nName: {{ $json.output.businessInfo.businessName }}\nType: {{ $json.output.businessInfo.businessType }}\nAddress:{{ $json.output.locationInfo.address }}\n\nYour task:\n1. Search for similar businesses within 5km radius\n2. Identify top 3-5 direct competitors\n3. Analyze their services, online presence, market positioning, strengths and weaknesses\n\nYour tools:\nUse the tool Tavily to search for information. \n\nCRITICAL: Return ONLY valid JSON with no additional text, explanations, or markdown. Do not include ```json or any other formatting. Start with { and end with }.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -544,
        -208
      ],
      "id": "4cfe9664-c1d4-4136-bdfd-11405ea0ac33",
      "name": "Competitors"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"parameters\": {\n    \"language\": \"python\",\n    \"pythonCode\": \"import json\\n\\n# Get the raw output\\nraw_output = _input.item.json['output']\\n\\n# Parse the JSON string\\ndata = json.loads(raw_output)\\n\\n# Return with proper item linking\\nreturn {'json': data}\"\n  },\n  \"type\": \"n8n-nodes-base.code\",\n  \"typeVersion\": 2,\n  \"position\": [-900, 448],\n  \"id\": \"parse-json-code\",\n  \"name\": \"Parse JSON\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -976,
        208
      ],
      "id": "604ec877-e9ce-47b7-8dda-d3c77b6f6713",
      "name": "Parser0"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o4-mini",
          "mode": "list",
          "cachedResultName": "o4-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1280,
        144
      ],
      "id": "eb306b50-90df-4072-bc6d-160178d96cbb",
      "name": "LLM_Parse",
      "credentials": {
        "openAiApi": {
          "id": "T6jALHM6FIHsU7i3",
          "name": "OpenAi API"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\nimport re\n\n# Get the raw output\nraw_text = _input.item.json.get('output', '')\n\n# Try to extract JSON from the response\n# Remove markdown code blocks if present\nraw_text = re.sub(r'```json\\s*', '', raw_text)\nraw_text = re.sub(r'```\\s*$', '', raw_text)\n\n# Find the first { and last }\ntry:\n    start = raw_text.index('{')\n    end = raw_text.rindex('}') + 1\n    json_str = raw_text[start:end]\n    \n    # Parse the JSON\n    data = json.loads(json_str)\n    \n    return {'json': data}\nexcept Exception as e:\n    # If parsing fails, return raw text\n    return {'json': {'error': str(e), 'raw_output': raw_text}}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        -208
      ],
      "id": "7095d8a3-541b-484a-a9b3-090e1c722b19",
      "name": "Code"
    }
  ],
  "connections": {
    "LLM1": {
      "ai_languageModel": [
        [
          {
            "node": "Competitors",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "submission1": {
      "main": [
        [
          {
            "node": "Extract1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract1": {
      "main": [
        [
          {
            "node": "Parse_Listing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily": {
      "ai_tool": [
        [
          {
            "node": "Parse_Listing",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Competitors",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parse_Listing": {
      "main": [
        [
          {
            "node": "Competitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Competitors": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser0": {
      "ai_outputParser": [
        [
          {
            "node": "Parse_Listing",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "LLM_Parse": {
      "ai_languageModel": [
        [
          {
            "node": "Parse_Listing",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-05T00:47:30.722Z",
  "updatedAt": "2025-12-05T00:53:40.744Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "23e65ee5-9138-4b85-9ee5-32401d101079",
  "triggerCount": 0,
  "id": "JppATl2Inuy8mjEz",
  "meta": null,
  "parentFolderId": null,
  "isArchived": false,
  "versionCounter": 3,
  "description": null
}