cim_2025-12-02T05-00-52.json
{
  "name": "CIM",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful AI assistant with access to tools. When you draft a message or send an email, humanize the text. if the task is not clear, ask any questions if needed before you proceed.\n\n**Available Tools:**\n1. Date & Time - Use for current date/time questions\n2. Retrieve - Use to search the user's personal notes, documents, and stored information\n3. MSP Client - Use to do all Google activities, such as create a new event in the calendar, send an email, etc.\n\n**When to use Retrieve:**\n- User asks about their notes, files, or personal information\n- User wants to recall something they stored\n- Questions like \"what do I have about X?\" or \"find my notes on Y\"\n\n**Important:**\n- For general knowledge questions, answer directly without tools\n- Always use Retrieve when the user references their personal data\n\nUser request: {{ $json.body.User_Request }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -512,
        16
      ],
      "id": "9455085b-e22f-4e4d-a4cd-defea25e5414",
      "name": "Master Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -672,
        224
      ],
      "id": "7476fa60-2dd5-4277-b5f9-e9b652f45d90",
      "name": "LLM",
      "credentials": {
        "openAiApi": {
          "id": "T6jALHM6FIHsU7i3",
          "name": "OpenAi API"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "timezone": "America/Los_Angeles"
        }
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        -272,
        224
      ],
      "id": "b69f2801-b4e5-452d-ad9a-8ab4adb70e11",
      "name": "Date & Time"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -512,
        224
      ],
      "id": "204b4a0e-49fa-4a3d-bdcb-3734e03203da",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "formTitle": "Upload ML Lisitng",
        "formDescription": "Uplod listing information",
        "formFields": {
          "values": [
            {
              "fieldLabel": "ML Lisitng",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -944,
        16
      ],
      "id": "102eb08e-052a-4db5-a48c-41a169eb3dc2",
      "name": "submission",
      "webhookId": "5a8f54e7-ead5-4fe7-838a-3245e04b8942"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -688,
        16
      ],
      "id": "f560d62c-4493-416a-b177-8caa308f39c3",
      "name": "Extract"
    }
  ],
  "connections": {
    "Master Agent": {
      "main": [
        []
      ]
    },
    "LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Master Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "Master Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Master Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "submission": {
      "main": [
        []
      ]
    },
    "Extract": {
      "main": [
        [
          {
            "node": "Master Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-29T00:52:00.228Z",
  "updatedAt": "2025-11-30T01:25:03.616Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "033d3077-a27a-458a-94ae-924114c60a81",
  "triggerCount": 0,
  "id": "cELwbAj2sd00DqU9",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "parentFolderId": null,
  "isArchived": false,
  "versionCounter": 7,
  "description": null
}