cim_2026-02-22T05-00-42.json
{
  "name": "CIM",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Demographics Research Specialist.\n\nLocation: {{ $json.output.locationInfo.address }}\nBusiness Type: {{ $json.output.businessInfo.businessType }}\n\nYour task:\n1. Research the local area demographics:\n   - Population density\n   - Age distribution\n   - Income levels\n   - Household composition\n2. Analyze foot traffic patterns\n3. Identify target customer segments\n4. Assess location viability for this business type\n\nProvide a concise demographics and foot traffic analysis.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -848,
        480
      ],
      "id": "4f4f0377-4a1c-439f-8ca0-b48aebfead05",
      "name": "Demographics Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Reputation Analysis Specialist.\n\nBusiness Details:\nName:{{ $json.output.businessInfo.businessName }}\nType: {{ $json.output.businessInfo.businessType }}\nAddress: {{ $json.output.locationInfo.address }}\n\nYour task:\n1. Search for online reviews on:\n   - Google Maps\n   - Yelp\n   - Facebook\n   - Industry-specific platforms\n2. Analyze:\n   - Overall ratings and sentiment\n   - Common praise points\n   - Common complaints\n   - Response to reviews\n3. Assess online presence (website, social media)\n\nProvide a concise reputation and online presence analysis.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -896,
        48
      ],
      "id": "3b9b65ca-48e7-4cd4-a102-64d81bafa594",
      "name": "Reviews & Reputation Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Market Trends Analyst.\n\nBusiness Type: {{ $json.output.businessInfo.businessType }}\nLocation: {{ $json.output.locationInfo.address }}\n\nYour task:\n1. Research current industry trends for {{ $json.output.businessInfo.businessType }}\n2. Analyze local market conditions:\n   - Growth or decline in this sector\n   - Consumer behavior trends\n   - Seasonal patterns\n   - Economic factors affecting the industry\n3. Identify opportunities and threats\n4. Provide market outlook\n\nProvide a concise market trends and conditions analysis.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -880,
        240
      ],
      "id": "c84a992e-ffd8-451b-9b62-f1ffe7189421",
      "name": "Market Trends Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -896,
        928
      ],
      "id": "bda6c7c0-2dbc-47d7-8345-9d23d90758e9",
      "name": "LLM1",
      "credentials": {
        "openAiApi": {
          "id": "T6jALHM6FIHsU7i3",
          "name": "OpenAi API"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -976,
        560
      ],
      "id": "f6432106-187e-4ffe-8f8a-3a33ef0f8528",
      "name": "LLM2",
      "credentials": {
        "openAiApi": {
          "id": "T6jALHM6FIHsU7i3",
          "name": "OpenAi API"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -976,
        176
      ],
      "id": "1e45c1d8-481a-4822-8026-abdb4a9f750b",
      "name": "LLM3",
      "credentials": {
        "openAiApi": {
          "id": "T6jALHM6FIHsU7i3",
          "name": "OpenAi API"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -896,
        400
      ],
      "id": "5c76e562-173c-4edf-912a-26d1f8d01b87",
      "name": "LLM4",
      "credentials": {
        "openAiApi": {
          "id": "T6jALHM6FIHsU7i3",
          "name": "OpenAi API"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Upload ML Lisitng",
        "formDescription": "Uplod listing information",
        "formFields": {
          "values": [
            {
              "fieldLabel": "data",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1936,
        448
      ],
      "id": "2e483e20-5398-4fa9-83ff-155ee367e333",
      "name": "submission1",
      "webhookId": "f4272f0d-6426-4d8e-949a-32e84b9fb7be"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1728,
        448
      ],
      "id": "3855caa3-4c87-4f98-98fe-551c897bd8b8",
      "name": "Extract1"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Search internet by the company name and address to define the business type ",
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        -1280,
        976
      ],
      "id": "6d759917-6ed4-4172-b668-1473e0f0ebc8",
      "name": "Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "oqdSWHxM8aQ5uKiO",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract these fields from the listing document and return ONLY valid JSON with no markdown formatting:\n\nDocument text:\n{{ $json.text }}\n\nExtract:\n- businessName (string)\n- address (string)\n- businessType (string)\n- agentName (string)\n- agentWeb (string)\n- agentEmail (string)\n- agentPhone (string)\n- agentNote (string)\n\nIf the business type is not defined or generic, e.g. Business, Retail, etc., use the tool Tevily to define the BusinessType. \n\nReturn format:\n{\n  \"businessInfo\": {\n    \"businessName\": \"\",\n    \"businessType\": \"\",\n    \"leasedSpace\": \"\",\n    \"parkingSpace\": \"\"\n  },\n  \"locationInfo\": {\n    \"address\": \"\"\n  },\n  \"agentInfo\": {\n    \"agentName\": \"\",\n    \"agentWeb\": \"\",\n    \"agentEmail\": \"\",\n    \"agentPhone\": \"\"\n  },\n  \"additionalInfo\": {\n    \"agentNote\": \"\"\n  }\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1520,
        448
      ],
      "id": "dd1644a6-4af3-43e2-9795-250fbe9c9a0d",
      "name": "Parse_Listing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Competitor Analysis Specialist.\n\nBusiness Details:\nName: {{ $json.output.businessInfo.businessName }}\nType: {{ $json.output.businessInfo.businessType }}\nAddress:{{ $json.output.locationInfo.address }}\n\nYour task:\n1. Search for similar businesses within 5km radius\n2. Identify top 3-5 direct competitors\n3. Analyze their services, online presence, market positioning, strengths and weaknesses\n\nYour tools:\nUse the tool Tavily to search for information. \n\nCRITICAL: Return ONLY valid JSON with no additional text, explanations, or markdown. Do not include ```json or any other formatting. Start with { and end with }.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -848,
        720
      ],
      "id": "aac56434-c104-4808-8cae-cbf4a8bc9196",
      "name": "Competitors"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"parameters\": {\n    \"language\": \"python\",\n    \"pythonCode\": \"import json\\n\\n# Get the raw output\\nraw_output = _input.item.json['output']\\n\\n# Parse the JSON string\\ndata = json.loads(raw_output)\\n\\n# Return with proper item linking\\nreturn {'json': data}\"\n  },\n  \"type\": \"n8n-nodes-base.code\",\n  \"typeVersion\": 2,\n  \"position\": [-900, 448],\n  \"id\": \"parse-json-code\",\n  \"name\": \"Parse JSON\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1296,
        672
      ],
      "id": "b2492af7-fd28-4c4b-ade6-ee9f5af28dd0",
      "name": "Parser0"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o4-mini",
          "mode": "list",
          "cachedResultName": "o4-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1616,
        608
      ],
      "id": "84eec9cd-cb6a-4332-ba64-0776ddaa9c5c",
      "name": "LLM_Parse",
      "credentials": {
        "openAiApi": {
          "id": "T6jALHM6FIHsU7i3",
          "name": "OpenAi API"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"parameters\": {\n    \"language\": \"python\",\n    \"pythonCode\": \"import json\\n\\n# Get the raw output\\nraw_output = _input.item.json['output']\\n\\n# Parse the JSON string\\ndata = json.loads(raw_output)\\n\\n# Return with proper item linking\\nreturn {'json': data}\"\n  },\n  \"type\": \"n8n-nodes-base.code\",\n  \"typeVersion\": 2,\n  \"position\": [-900, 448],\n  \"id\": \"parse-json-code\",\n  \"name\": \"Parse JSON\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -656,
        944
      ],
      "id": "e6b2680d-1914-4b03-8f90-9cebd37aa776",
      "name": "Parser1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -48,
        544
      ],
      "id": "fb912815-17e1-4153-8df9-43aa91e5d36a",
      "name": "Merge"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\n\n# Get competitor data\nraw_output = _input.item.json['output']\n\n# Parse if it's a JSON string\nif isinstance(raw_output, str):\n    try:\n        raw_output = raw_output.replace('\\\\n', '\\n')\n        start = raw_output.index('{')\n        end = raw_output.rindex('}') + 1\n        data = json.loads(raw_output[start:end])\n    except:\n        return {'json': {'error': 'Failed to parse JSON', 'raw': raw_output}}\nelse:\n    data = raw_output\n\n# Get competitors list - check both 'competitors' and 'direct_competitors'\nif isinstance(data, dict):\n    if 'direct_competitors' in data:\n        competitors = data['direct_competitors']\n    elif 'competitors' in data:\n        competitors = data['competitors']\n    else:\n        competitors = []\nelif isinstance(data, list):\n    competitors = data\nelse:\n    competitors = []\n\n# Create tab-separated comparison table\nheaders = ['Name', 'Services', 'Online Presence', 'Positioning', 'Strengths', 'Weaknesses']\ntable = '\\t'.join(headers) + '\\n'\ntable += '\\t'.join(['---'] * len(headers)) + '\\n'\n\nfor comp in competitors:\n    if not isinstance(comp, dict):\n        continue\n        \n    services = comp.get('services', [])\n    if isinstance(services, list):\n        services = ', '.join(services)\n    \n    online = comp.get('online_presence', [])\n    if isinstance(online, list):\n        online = ' | '.join(online)\n    elif isinstance(online, dict):\n        website = online.get('website', '')\n        social = online.get('social_media', '')\n        online = f\"{website} | {social}\"\n    \n    strengths = comp.get('strengths', [])\n    if isinstance(strengths, list):\n        strengths = ', '.join(strengths)\n        \n    weaknesses = comp.get('weaknesses', [])\n    if isinstance(weaknesses, list):\n        weaknesses = ', '.join(weaknesses)\n    \n    row = [\n        comp.get('name', ''),\n        services,\n        online,\n        comp.get('market_positioning', ''),\n        strengths,\n        weaknesses\n    ]\n    table += '\\t'.join(row) + '\\n'\n\nreturn {'json': {'comparison_table': table, 'raw_data': data}}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        736
      ],
      "id": "d4308b3e-bad2-4200-9616-7f376231389f",
      "name": "Code0"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import re\n\n# Get the raw output\nraw_output = _input.item.json['output']\n\n# Remove markdown formatting\ntext = raw_output.replace('###', '').replace('####', '').replace('**', '')\ntext = re.sub(r'\\n-\\s+', '\\n• ', text)  # Convert - to bullets\ntext = re.sub(r'\\n+', '\\n', text)  # Clean up extra newlines\n\n# Add section header\nformatted = \"MARKET TRENDS & CONDITIONS\\n\"\nformatted += \"=\" * 50 + \"\\n\\n\"\nformatted += text\n\nreturn {'json': {'formatted_report': formatted, 'raw_data': raw_output}}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        384
      ],
      "id": "8ddc3673-3815-4d6b-83f4-474208c933e3",
      "name": "Code1"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import re\n\n# Get the raw output\nraw_output = _input.item.json['output']\n\n# Remove markdown formatting\ntext = raw_output.replace('###', '').replace('####', '').replace('**', '')\ntext = re.sub(r'\\n-\\s+', '\\n• ', text)  # Convert - to bullets\ntext = re.sub(r'\\n+', '\\n', text)  # Clean up extra newlines\n\n# Add section header\nformatted = \"REVIEWS & REPUTATION\\n\"\nformatted += \"=\" * 50 + \"\\n\\n\"\nformatted += text\n\nreturn {'json': {'formatted_report': formatted, 'raw_data': raw_output}}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        176
      ],
      "id": "ef7c6d9f-74de-444d-9522-12e4cb152766",
      "name": "Code2"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import re\n\n# Get the raw output\nraw_output = _input.item.json['output']\n\n# Remove markdown formatting\ntext = raw_output.replace('###', '').replace('####', '').replace('**', '')\ntext = re.sub(r'\\n-\\s+', '\\n• ', text)  # Convert - to bullets\ntext = re.sub(r'\\n+', '\\n', text)  # Clean up extra newlines\n\n# Add section header\nformatted = \"DEMOGRAPHICS & FOOT TRAFFIC\\n\"\nformatted += \"=\" * 50 + \"\\n\\n\"\nformatted += text\n\nreturn {'json': {'formatted_report': formatted, 'raw_data': raw_output}}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        576
      ],
      "id": "53d7bb77-d2c4-4d3a-b279-e077bc18fd18",
      "name": "Code3"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        160,
        544
      ],
      "id": "342e6bb4-98c6-478b-b2d2-8f53b806e648",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Sort items to ensure correct order\n// Input 0: Reviews, Input 1: Market Trends, Input 2: Demographics, Input 3: Competitors\nconst sortedItems = [\n    items[0], // Reviews\n    items[1], // Market Trends  \n    items[2], // Demographics\n    items[3]  // Competitors\n];\n\nlet final_report = 'BUSINESS MARKETING RESEARCH REPORT\\n';\nfinal_report += '='.repeat(70) + '\\n\\n';\n\nfor (const item of sortedItems) {\n    if (item && item.json) {\n        if (item.json.comparison_table) {\n            final_report += 'COMPETITOR ANALYSIS\\n';\n            final_report += '='.repeat(50) + '\\n\\n';\n            final_report += item.json.comparison_table + '\\n\\n';\n        } else if (item.json.formatted_report) {\n            final_report += item.json.formatted_report + '\\n\\n';\n        }\n    }\n}\n\nreturn [{json: {final_report: final_report}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        400
      ],
      "id": "18c5d218-8ac9-4440-851f-7aad5dfe3e24",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "Demographics Agent": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reviews & Reputation Agent": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Market Trends Agent": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM1": {
      "ai_languageModel": [
        [
          {
            "node": "Competitors",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LLM2": {
      "ai_languageModel": [
        [
          {
            "node": "Demographics Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LLM3": {
      "ai_languageModel": [
        [
          {
            "node": "Reviews & Reputation Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LLM4": {
      "ai_languageModel": [
        [
          {
            "node": "Market Trends Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "submission1": {
      "main": [
        [
          {
            "node": "Extract1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract1": {
      "main": [
        [
          {
            "node": "Parse_Listing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily": {
      "ai_tool": [
        [
          {
            "node": "Parse_Listing",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Competitors",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Market Trends Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Reviews & Reputation Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Demographics Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parse_Listing": {
      "main": [
        [
          {
            "node": "Competitors",
            "type": "main",
            "index": 0
          },
          {
            "node": "Market Trends Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reviews & Reputation Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Demographics Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Competitors": {
      "main": [
        [
          {
            "node": "Code0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser0": {
      "ai_outputParser": [
        [
          {
            "node": "Parse_Listing",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "LLM_Parse": {
      "ai_languageModel": [
        [
          {
            "node": "Parse_Listing",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Competitors",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Code0": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-29T00:52:00.228Z",
  "updatedAt": "2025-12-06T00:05:59.385Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "cab61266-c017-4c3f-af66-491a5da2169d",
  "triggerCount": 0,
  "id": "cELwbAj2sd00DqU9",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "parentFolderId": null,
  "isArchived": false,
  "versionCounter": 40,
  "description": null,
  "activeVersionId": null
}