cim_2025-11-29T17-00-53.json
{
  "name": "CIM",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful AI assistant with access to tools. When you draft a message or send an email, humanize the text. if the task is not clear, ask any questions if needed before you proceed.\n\n**Available Tools:**\n1. Date & Time - Use for current date/time questions\n2. Retrieve - Use to search the user's personal notes, documents, and stored information\n3. MSP Client - Use to do all Google activities, such as create a new event in the calendar, send an email, etc.\n\n**When to use Retrieve:**\n- User asks about their notes, files, or personal information\n- User wants to recall something they stored\n- Questions like \"what do I have about X?\" or \"find my notes on Y\"\n\n**Important:**\n- For general knowledge questions, answer directly without tools\n- Always use Retrieve when the user references their personal data\n\nUser request: {{ $json.body.User_Request }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -512,
        16
      ],
      "id": "9455085b-e22f-4e4d-a4cd-defea25e5414",
      "name": "Master Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -624,
        240
      ],
      "id": "7476fa60-2dd5-4277-b5f9-e9b652f45d90",
      "name": "LLM",
      "credentials": {
        "openAiApi": {
          "id": "T6jALHM6FIHsU7i3",
          "name": "OpenAi API"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://n8n:5678/webhook/52015d28-d87a-4f6f-9ca2-7c060c9365e5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        -256,
        576
      ],
      "id": "d84b20c4-1e45-4734-b529-7ed3d66b9932",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "options": {
          "timezone": "America/Los_Angeles"
        }
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        -336,
        272
      ],
      "id": "b69f2801-b4e5-452d-ad9a-8ab4adb70e11",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search through my personal notes, documents, and information. Use this tool when the user asks about their personal data, stored notes, or uploaded files.",
        "tableName": "personal_data",
        "topK": 3,
        "options": {
          "columnNames": {
            "values": {
              "contentColumnName": "title",
              "metadataColumnName": "data_json"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        128,
        496
      ],
      "id": "e13ec309-9454-425d-811f-1f57bd468fed",
      "name": "Retrieve",
      "credentials": {
        "postgres": {
          "id": "2xkaCrgCVOfCETb3",
          "name": "PostgreSQL credential n8n_database"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        464,
        768
      ],
      "id": "0b72e7d7-83b6-4075-a80f-fc2584cbb17a",
      "name": "Data Loader"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        96,
        704
      ],
      "id": "5fafc249-8d5c-4675-a19e-0b3a280ea192",
      "name": "Embedding AI",
      "credentials": {
        "openAiApi": {
          "id": "T6jALHM6FIHsU7i3",
          "name": "OpenAi API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=elevenlabs_{{ $json.body.conversation_id || 'default' }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -512,
        224
      ],
      "id": "6ed892af-35c2-48e2-ba97-5b3cef84659a",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "2xkaCrgCVOfCETb3",
          "name": "PostgreSQL credential n8n_database"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ea128c7b-9c1b-4142-bf50-382dd0816f87",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -816,
        32
      ],
      "id": "a1572125-4f7d-40f0-8170-dc7b8a1304d9",
      "name": "Webhook",
      "webhookId": "ea128c7b-9c1b-4142-bf50-382dd0816f87"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n     \"response\": \"{{ $('Master Agent').item.json.output }}\",\n     \"status\": \"success\"\n   }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "88c05a89-f7f9-437f-94cf-77e42f1a81fc",
      "name": "Respond"
    },
    {
      "parameters": {
        "formTitle": "Upload ML Lisitng",
        "formDescription": "Uplod listing information",
        "formFields": {
          "values": [
            {
              "fieldLabel": "ML Lisitng",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        400,
        304
      ],
      "id": "102eb08e-052a-4db5-a48c-41a169eb3dc2",
      "name": "On form submission",
      "webhookId": "5a8f54e7-ead5-4fe7-838a-3245e04b8942"
    }
  ],
  "connections": {
    "Master Agent": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Master Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "Master Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "Master Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve": {
      "ai_tool": [
        [
          {
            "node": "Master Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Data Loader": {
      "ai_document": [
        []
      ]
    },
    "Embedding AI": {
      "ai_embedding": [
        [
          {
            "node": "Retrieve",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Master Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Master Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-11-29T00:52:00.228Z",
  "updatedAt": "2025-11-29T02:25:33.496Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "05864618-4a90-484b-8878-60feaadef705",
  "triggerCount": 0,
  "id": "cELwbAj2sd00DqU9",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "parentFolderId": null,
  "isArchived": false,
  "versionCounter": 5,
  "description": null
}