cnwcrag2telegram_2026-03-25T16-00-42.json
{
  "name": "CNWC RAG 2 telegram",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Upload your data to test RAG",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload your file(s)",
              "fieldType": "file",
              "acceptFileTypes": ".pdf, .csv, .doc, .docx, .txt",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -48,
        -96
      ],
      "id": "2c3b001d-4fcd-4217-96fc-ad1bb4636655",
      "name": "Upload your file here",
      "webhookId": "f29ef4ff-0f16-4edd-b33c-c15d90b2c01f"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        608,
        384
      ],
      "id": "c5c9c1a1-bc26-468a-8f6d-ef36a08e0f34",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "T6jALHM6FIHsU7i3",
          "name": "OpenAi API"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        400,
        64
      ],
      "id": "87edfbc8-ba2b-4aa1-9f23-55c5bad6cc67",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "content": "### 📚 Load Data Flow",
        "height": 460,
        "width": 700,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        -160
      ],
      "typeVersion": 1,
      "id": "de6670c4-3275-4f3a-bb67-244dd52aa31d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an operator of the company Code Ninjas. You are a polite and friendly assistant. Your name is \"Ask Shaun\". You receive questions and chats from our team members, who want to communicate or seek some specific company information. The requests come in {{ $json.message.text }}. You should support the chat in a friendly but concise manner. If this is a request for some company-specific information, your task is to find the right answer by searching the \"knowledge_base\" tool. \n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1024,
        -112
      ],
      "id": "1d98447e-7bf9-4ed7-a8a9-e1625963c56f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        672,
        -80
      ],
      "id": "69591d9f-65a8-40cb-a167-def971e47c75",
      "name": "When chat message received",
      "webhookId": "6f3e59f6-0d5e-4b09-a103-80b6f3891b8a"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        800,
        112
      ],
      "id": "43d8c076-5dbf-4a50-aecb-d538c8d2b612",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "T6jALHM6FIHsU7i3",
          "name": "OpenAi API"
        }
      }
    },
    {
      "parameters": {
        "content": "### 🐕 2. Retriever Flow",
        "height": 460,
        "width": 680,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        688,
        -160
      ],
      "typeVersion": 1,
      "id": "6dac5c15-ebbe-487c-9eb9-2cbf8f7237df",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        160,
        -96
      ],
      "id": "a08751d8-c541-49e8-b0c3-6f404278c2fe",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "CAInvpDfX1zgx2Wv",
          "name": "Supabase CNWC"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the Code Ninjas training documentation to find specific information about points, rewards, quests, adventures, sensei procedures, and ninja training guidelines. Use this for any questions about Code Ninjas operations.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 20,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1136,
        160
      ],
      "id": "ff47f840-9f29-4ff4-b0da-2a55129e7657",
      "name": "knowledge_base",
      "credentials": {
        "supabaseApi": {
          "id": "CAInvpDfX1zgx2Wv",
          "name": "Supabase CNWC"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        864,
        -112
      ],
      "id": "5887bd9c-fd1c-421a-bb66-cfe3808909ba",
      "name": "Telegram Trigger",
      "webhookId": "153120b1-6cbd-47fa-aa5b-168b9d36f946",
      "credentials": {
        "telegramApi": {
          "id": "s0r2nKJcTTTNeDuC",
          "name": "Telegram n8n_pilot_bot (@n8n_fly_bot)"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1376,
        -112
      ],
      "id": "fc19db9a-96cc-4c5a-95d1-4824aaf49cf2",
      "name": "Send a text message",
      "webhookId": "2133063b-f30e-4a1d-bc20-25c28de28752",
      "credentials": {
        "telegramApi": {
          "id": "s0r2nKJcTTTNeDuC",
          "name": "Telegram n8n_pilot_bot (@n8n_fly_bot)"
        }
      }
    }
  ],
  "connections": {
    "Upload your file here": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "knowledge_base",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "knowledge_base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-03T02:34:42.438Z",
  "updatedAt": "2025-11-05T22:40:44.821Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "48072f0c-5a6a-4d55-80fc-0d5f41e9b74e",
  "triggerCount": 0,
  "id": "JmJY3GNAtSHCPLus",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "parentFolderId": "Tj9st8nLcUxlvAXe",
  "isArchived": false,
  "versionCounter": 2,
  "description": null,
  "activeVersionId": null
}