draft-_planb-weekly-cleanup-on-github_2025-08-30T02-11-25.json
{
  "name": "draft _PlanB weekly Cleanup on GitHub",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": {
          "__rl": true,
          "value": "paul-z4z",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_Workflows",
          "mode": "name"
        },
        "filePath": "={{ $json.path }}",
        "commitMessage": "={{ \"Delete old backup: \" + $json.name }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        976,
        -16
      ],
      "id": "562f596e-484d-449e-810b-1f2d81910f89",
      "name": "Delete a file",
      "webhookId": "bdf84267-911c-4390-ad12-2535d5fc9ea3",
      "credentials": {
        "githubApi": {
          "id": "9RWBslDcc6pPEYjG",
          "name": "GitHub backup"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "paul-z4z",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_Workflows",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        240,
        352
      ],
      "id": "6fa08e0e-8d7b-48a1-b854-7cb8d8e0dd2a",
      "name": "List files2",
      "webhookId": "ff504905-79b3-4eca-80e2-23a22a68ae5e",
      "credentials": {
        "githubApi": {
          "id": "9RWBslDcc6pPEYjG",
          "name": "GitHub backup"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "14385ab1-39fe-4519-918f-786c1cdfd4a8",
              "leftValue": "={{ $json.type }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        448,
        352
      ],
      "id": "fcd47b8e-3c9f-4131-b3a9-b8780d5d8b0f",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "// Collect all incoming items (each item contains a file path)\nconst fileList = items.map(item => item.json.path); // adjust 'path' if needed\n\n// Output a single item with the combined list\nreturn [\n  {\n    json: {\n      files: fileList\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        432
      ],
      "id": "78049b82-cfd9-48d5-bfe2-b027af936e2b",
      "name": "Code2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        48,
        384
      ],
      "id": "885e5433-d040-4c8c-b03b-ca67658504a0",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "List files2": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "List files2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "List files2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-26T00:50:40.400Z",
  "updatedAt": "2025-08-30T01:08:19.433Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Weekly Cleanup Trigger": {
      "recurrenceRules": []
    }
  },
  "pinData": {},
  "versionId": "bc56647a-39da-45ab-8ddb-adea28cdf5e2",
  "triggerCount": 1,
  "id": "Zqr7a6tyY88sT4pv",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "parentFolderId": null,
  "isArchived": false
}