Google_Map_search.json
{
  "name": "Google Map search",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -200,
        120
      ],
      "id": "c0837a3b-c174-424f-8201-0a349d2e6ff4",
      "name": "When chat message received",
      "webhookId": "3e4638ff-7ae9-450e-844d-a685a50d05ef"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        200,
        280
      ],
      "id": "76bb7668-8351-45bf-ab68-8f8e80c8e411",
      "name": "DeepSeek Chat Model1"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search?engine=google_maps",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key"
            },
            {
              "name": "q",
              "value": "={{ $json.chatInput }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        20,
        120
      ],
      "id": "caf48cae-51bd-4f14-8e37-7814740a3c81",
      "name": "Search the Map"
    },
    {
      "parameters": {
        "content": "## Get Leads from Maps using Serpa and save to Google sheet\n",
        "height": 520,
        "width": 1340
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -280,
        0
      ],
      "id": "6713a144-c3d2-4140-9788-95658745ddbc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json.local_results) }}\n\nThis is the result I got from a search on map, I want you to return an array of \n\n[\n{\n    \"Name\": \"xxx\",\n    \"Address\": \"xxx\",\n    \"Website\": \"xxx\",\n    \"Email\": \"xxx\",\n    \"Phone Number\": \"xxx\"\n},\n{\n    \"Name\": \"xxx\",\n    \"Address\": \"xxx\",\n    \"Website\": \"xxx\",\n    \"Email\": \"xxx\",\n    \"Phone Number\": \"xxx\"\n},...\n]\n\nif you miss any of the field just leave ampty string.\n\n\nOnly return the stringified JSON without break lines and without the ' quotes, that I can parse directly using JSON.parse(result), don't add any other message.",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        240,
        120
      ],
      "id": "e4c0f0bf-9289-439e-a278-bd908cafe189",
      "name": "LLM structure result in JSON"
    },
    {
      "parameters": {
        "jsCode": "\nreturn JSON.parse($input.first().json.text)"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        120
      ],
      "id": "827b6f26-7e7e-40f0-b383-6d26d846c742",
      "name": "Parse JSON"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18Ca_--pJQXoPCjilUnYhxVJFD543WUc1dwBHVctp-kE",
          "mode": "list",
          "cachedResultName": "Google leads scrape",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18Ca_--pJQXoPCjilUnYhxVJFD543WUc1dwBHVctp-kE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Foaie1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18Ca_--pJQXoPCjilUnYhxVJFD543WUc1dwBHVctp-kE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Address": "={{ $json.Address }}",
            "Website": "={{ $json.Website }}",
            "Email": "={{ $json.Email }}",
            "Phone Number": "={{ $json['Phone Number'].replaceAll(' ','') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        840,
        120
      ],
      "id": "ff85d83f-b6ad-46de-874f-9d1bfaa6b31f",
      "name": "Save to sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Phk8jX3QBDLUL6sA",
          "name": "Google Sheets account z4z"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "18Ca_--pJQXoPCjilUnYhxVJFD543WUc1dwBHVctp-kE",
          "mode": "list",
          "cachedResultName": "Google leads scrape",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18Ca_--pJQXoPCjilUnYhxVJFD543WUc1dwBHVctp-kE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Foaie1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18Ca_--pJQXoPCjilUnYhxVJFD543WUc1dwBHVctp-kE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.data.company_name }}",
            "Email": "={{ $json.data.email }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        880,
        600
      ],
      "id": "6bb568b5-0e8b-421d-8a38-a60ad2ef65e0",
      "name": "Update lead"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json.output[1].content[0].text;\nconst cleaned = items.replace('```json', '').replace('```', '')\nconst parsed = JSON.parse(cleaned);\n\nreturn {data: parsed}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        600
      ],
      "id": "71e10335-4231-4734-b1ba-0e2770f00511",
      "name": "Parse json"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "69fa641b-34cc-49d4-9489-238868b98338",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        0,
        600
      ],
      "id": "76a41563-33b2-41af-a70e-f32771bf9d5f",
      "name": "Filter lead without email"
    },
    {
      "parameters": {
        "content": "## Get emails",
        "height": 380,
        "width": 1340,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -280,
        420
      ],
      "id": "649e50af-221d-4cde-9b20-48fbc6d1bb95",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"model\": \"gpt-4o\",\n    \"tools\": [\n        {\n            \"type\": \"web_search_preview\"\n        }\n    ],\n\"input\": [\n        {\"role\": \"system\", \"content\": \"Extract the email information for the company\"},\n{\"role\": \"user\",\"content\": \"Research email for this compoant {{ $json.Name }} located at {{ $json.Address }} you can also use their website {{ $json.Website }} to find the company's email\"}],\n    \"text\": {\n        \"format\": {\n            \"type\": \"json_schema\",\n            \"name\": \"calendar_event\",\n            \"schema\": {\n                \"type\": \"object\",\n                \"properties\": {\n                    \"company_name\": {\n                        \"type\": \"string\"\n                    },\n                    \"email\": {\n                        \"type\": \"string\"\n                    }\n                },\n                \"required\": [\n                    \"company_name\",\n                    \"email\"\n                ],\n\"additionalProperties\": false\n            },\n            \"strict\": true\n        }\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        600
      ],
      "id": "31ac5a68-12c8-4bdc-9512-c73a00ae747c",
      "name": "openAI research"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        220,
        600
      ],
      "id": "999f508c-faa2-4beb-80b7-19d25d9238b4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "18Ca_--pJQXoPCjilUnYhxVJFD543WUc1dwBHVctp-kE",
          "mode": "list",
          "cachedResultName": "Google leads scrape",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18Ca_--pJQXoPCjilUnYhxVJFD543WUc1dwBHVctp-kE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Foaie1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18Ca_--pJQXoPCjilUnYhxVJFD543WUc1dwBHVctp-kE/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -220,
        600
      ],
      "id": "ada42088-1750-4c20-bcfb-56f834e15e28",
      "name": "Google Sheets Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Search the Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "LLM structure result in JSON",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search the Map": {
      "main": [
        [
          {
            "node": "LLM structure result in JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM structure result in JSON": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Save to sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse json": {
      "main": [
        [
          {
            "node": "Update lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "openAI research": {
      "main": [
        [
          {
            "node": "Parse json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update lead": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter lead without email": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "openAI research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Filter lead without email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ee3130f2-9ac4-42e9-a1da-75968d3095ed",
  "meta": {
    "instanceId": "ac78eb455c750b1b7c57e0f2a75aeab7ad15e4f972ff51de910406db581eb0b4"
  },
  "id": "frKkAOKC7zzuOiED",
  "tags": []
}