LinkedIn (1).json
{
  "name": "LinkedIn",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        -580
      ],
      "id": "4dfdc3e5-311a-4b5e-a214-900ab5f2f2ce",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/bebity~linkedin-premium-actor/run-sync-get-dataset-items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "{{Your_token}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"action\": \"get-companies\",\n    \"isName\": false,\n    \"isUrl\": false,\n    \"keywords\": [\n        \"{{ $json.keyword }}\"\n    ],\n    \"limit\": 5,\n    \"location\": [\n        \"{{ $json.location }}\"\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        -580
      ],
      "id": "18e7b70c-1ef4-4609-baf4-3ebb2b5f6c47",
      "name": "Scrape Companies"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1M9Bi6imp_XheaI6A40cweiXmMWFWRct719Tqsxv9KWU",
          "mode": "list",
          "cachedResultName": "My Leads ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M9Bi6imp_XheaI6A40cweiXmMWFWRct719Tqsxv9KWU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M9Bi6imp_XheaI6A40cweiXmMWFWRct719Tqsxv9KWU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Website": "={{ $json.websiteUrl }}",
            "Industry": "={{ $json.industry.map(item => item) }}",
            "Company": "={{ $json.name }}",
            "LinkedIn URL": "={{ $json.url }}",
            "Description": "={{ $json.description }}",
            "Found Year": "={{ $json.foundedOn.year }}",
            "EmployeeCount": "={{ $json.employeeCount }}",
            "keyword": "[key word]",
            "Location": "[location]"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "keyword",
              "displayName": "keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Found Year",
              "displayName": "Found Year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EmployeeCount",
              "displayName": "EmployeeCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        620,
        -580
      ],
      "id": "21d4fe12-56e5-45fb-be43-919b58bcf5e1",
      "name": "Save to my leads"
    },
    {
      "parameters": {
        "content": "## Scrape LinkedIn Companies\n",
        "height": 300,
        "width": 1400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        40,
        -680
      ],
      "id": "0a3d49f6-f48f-4a35-8052-6487802d147b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "={{ $json['LinkedIn URL'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        -280
      ],
      "id": "778810e6-7b1f-4f11-826f-6284d1ecff61",
      "name": "Company LinkedIn Scrape"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        480,
        -100
      ],
      "id": "9601e15e-086e-4447-8fba-a204d99f7699",
      "name": "DeepSeek Chat Model"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        320,
        -280
      ],
      "id": "8bb16ef8-3ad5-476d-8c38-77aa12e6f7fe",
      "name": "Markdown"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"email\": \"California@gmail.com\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        620,
        -100
      ],
      "id": "52236d34-3d17-466f-adb4-658d306ebaec",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "content": "## Find Email using linkedIn company profile\n",
        "height": 420,
        "width": 1400,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        40,
        -380
      ],
      "id": "fc1f7648-da3c-40d5-83f4-325bb8c708bc",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1M9Bi6imp_XheaI6A40cweiXmMWFWRct719Tqsxv9KWU",
          "mode": "list",
          "cachedResultName": "My Leads ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M9Bi6imp_XheaI6A40cweiXmMWFWRct719Tqsxv9KWU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M9Bi6imp_XheaI6A40cweiXmMWFWRct719Tqsxv9KWU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LinkedIn URL": "={{ $('Save to my leads').item.json['LinkedIn URL'] }}",
            "Email": "={{ $json.output.email }}"
          },
          "matchingColumns": [
            "LinkedIn URL"
          ],
          "schema": [
            {
              "id": "keyword",
              "displayName": "keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Found Year",
              "displayName": "Found Year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "EmployeeCount",
              "displayName": "EmployeeCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        980,
        -280
      ],
      "id": "fd913185-c705-4789-968e-e9e16d79b73d",
      "name": "Update Email"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1160,
        -280
      ],
      "id": "278f32c8-250a-4bda-8991-6efcf3532742",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1M9Bi6imp_XheaI6A40cweiXmMWFWRct719Tqsxv9KWU",
          "mode": "list",
          "cachedResultName": "My Leads ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M9Bi6imp_XheaI6A40cweiXmMWFWRct719Tqsxv9KWU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M9Bi6imp_XheaI6A40cweiXmMWFWRct719Tqsxv9KWU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        80,
        140
      ],
      "id": "14601dc1-1e58-4384-85c0-c1e645f6dd89",
      "name": "Get Missing Emails"
    },
    {
      "parameters": {
        "content": "## Find missing email using google gemini api\n",
        "height": 320,
        "width": 1400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        40,
        40
      ],
      "id": "4b09a7ae-e3a6-45f1-97e4-235930203e81",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json.candidates[0].content.parts[0].text;\nconst cleaned = items.replace('```json', '').replace('```', '')\nconst parsed = JSON.parse(cleaned);\n\nreturn {data: parsed}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        160
      ],
      "id": "e5687c26-8bf3-4ee7-9682-76e912fc6b25",
      "name": "Parse json1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "49866817-15e2-44c4-bbcb-f675b9b91a86",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        260,
        140
      ],
      "id": "5428f637-4508-49c2-ba50-e51d2d1860d3",
      "name": "Filter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        480,
        140
      ],
      "id": "ee8da1ca-f207-486c-9b1a-7d4b6bb767f0",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "{{your_gemini_api_key}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Research email for this company {{ $('Loop Over Items2').item.json.Company }} located at {{ $('Loop Over Items2').item.json.Location }} you can also use their website {{ $('Loop Over Items2').item.json.Website }} to find the company's email ,return an json object containing the given companyName and the email and the phoneNumber\"\n        }\n      ]\n    }\n  ],\n  \"tools\": [\n    {\n      \"google_search\": {}\n    }\n  ],\n    \"generationConfig\": { \"response_mime_type\": \"application/json\" }\n\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        160
      ],
      "id": "f611ef35-992f-47ef-9b3d-4e1757efbbba",
      "name": "Google Gemini research email"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1M9Bi6imp_XheaI6A40cweiXmMWFWRct719Tqsxv9KWU",
          "mode": "list",
          "cachedResultName": "My Leads ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M9Bi6imp_XheaI6A40cweiXmMWFWRct719Tqsxv9KWU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M9Bi6imp_XheaI6A40cweiXmMWFWRct719Tqsxv9KWU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company": "={{ $('Loop Over Items2').item.json.Company }}",
            "Email": "={{ $json.data[0].email }}"
          },
          "matchingColumns": [
            "Company"
          ],
          "schema": [
            {
              "id": "keyword",
              "displayName": "keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Found Year",
              "displayName": "Found Year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "EmployeeCount",
              "displayName": "EmployeeCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1120,
        160
      ],
      "id": "b742e83f-f95a-436b-9028-a272859e00c5",
      "name": "Update emails"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }} I need you to analyze the linkedIn company page data and retrieve the email address\n\nreturn a json of email\nexample:\n\n{\n  \"email\": \"company@gmail.com\"\n}\n\nIf the email is not retrieved return empty string\n\nOnly return the stringified JSON without break lines and without the ' quotes, that I can parse directly using JSON.parse(result), don't add any other message.\n",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        560,
        -280
      ],
      "id": "108be529-2ce6-43aa-96e7-c3186ddf6d5e",
      "name": "Get Email from Company LinkedIn"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca5e95c3-6aac-4a85-b2ac-9cb7a5c4c503",
              "name": "keyword",
              "value": "Software",
              "type": "string"
            },
            {
              "id": "c44d6e6b-583f-4b6a-bc28-fcf90f8891aa",
              "name": "location",
              "value": "Rwanda",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        -580
      ],
      "id": "27915a10-9b54-4d6b-8ba9-055c9aa08ce3",
      "name": "Search Area"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Search Area",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Companies": {
      "main": [
        [
          {
            "node": "Save to my leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to my leads": {
      "main": [
        [
          {
            "node": "Company LinkedIn Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company LinkedIn Scrape": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Get Email from Company LinkedIn",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Get Email from Company LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Get Email from Company LinkedIn",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Update Email": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Get Missing Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Missing Emails": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse json1": {
      "main": [
        [
          {
            "node": "Update emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Google Gemini research email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini research email": {
      "main": [
        [
          {
            "node": "Parse json1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update emails": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Email from Company LinkedIn": {
      "main": [
        [
          {
            "node": "Update Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Area": {
      "main": [
        [
          {
            "node": "Scrape Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "edafe3e6-a9f5-433a-968a-51a0abdbe69a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac78eb455c750b1b7c57e0f2a75aeab7ad15e4f972ff51de910406db581eb0b4"
  },
  "id": "sNk0SJ0CbRuWkQ4e",
  "tags": []
}