localbusinesssearch_2026-02-15T05-00-08.json
{
  "name": "LocalBusinessSearch",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        720
      ],
      "id": "0e0e4a0a-ca2f-4fdc-a865-d9573b61c90b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Define search regions with coordinates\nconst regions = [\n  { name: \"Vancouver\", lat: 49.2827, lng: -123.1207 },\n  { name: \"Burnaby\", lat: 49.2488, lng: -122.9805 },\n  { name: \"Surrey\", lat: 49.1913, lng: -122.8490 },\n  { name: \"Richmond\", lat: 49.1666, lng: -123.1336 },\n  { name: \"Coquitlam\", lat: 49.2838, lng: -122.7932 },\n  { name: \"New Westminster\", lat: 49.2069, lng: -122.9110 },\n  { name: \"Delta\", lat: 49.0847, lng: -123.0587 },\n  { name: \"Victoria\", lat: 48.4284, lng: -123.3656 },\n  { name: \"Nanaimo\", lat: 49.1659, lng: -123.9401 },\n  { name: \"Courtenay\", lat: 49.6878, lng: -124.9945 },\n  { name: \"Campbell River\", lat: 50.0244, lng: -125.2475 }\n];\n\n// Define business categories\nconst categories = [\n  \"wholesale distributor\",\n  \"warehousing\",\n  \"logistics service\",\n  \"freight forwarding service\",\n  \"import export company\",\n  \"business to business service\",\n  \"marketing agency\",\n  \"IT company\",\n  \"industrial equipment supplier\",\n  \"business consultant\",\n  \"commercial cleaning service\",\n  \"office equipment supplier\"\n];\n\n// Create search combinations\nconst searches = [];\nfor (const region of regions) {\n  for (const category of categories) {\n    searches.push({\n      region: region.name,\n      lat: region.lat,\n      lng: region.lng,\n      category: category\n    });\n  }\n}\n\nreturn searches.map(search => ({ json: search }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        416
      ],
      "id": "55968719-48e8-4639-9ff8-d980660e82b5",
      "name": "Regions"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchText",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Goog-FieldMask",
              "value": "places.displayName,places.formattedAddress,places.internationalPhoneNumber,places.websiteUri,places.types,places.location"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"textQuery\": \"{{ $json.category }} in {{ $json.region }}\",\n  \"pageSize\": 20,\n  \"locationBias\": {\n    \"circle\": {\n      \"center\": {\n        \"latitude\": {{ $json.lat }},\n        \"longitude\": {{ $json.lng }}\n      },\n      \"radius\": 15000\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        288,
        336
      ],
      "id": "b99408ec-907c-4fc5-9ca5-f14a27644d59",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "NaeYxTAFRgaXA5Sh",
          "name": "Google Maps API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Process ALL input items, not just one\nconst allResults = [];\n\nfor (const item of $input.all()) {\n  const httpResponse = item.json;\n  const places = httpResponse.places || [];\n  const region = item.json.region;\n  const category = item.json.category;\n  \n  const excludeKeywords = [\n    'restaurant', 'food', 'beverage', 'cafe', 'coffee',\n    'retail', 'store', 'shop', 'mall', 'boutique',\n    'construction', 'contractor', 'builder',\n    'lawyer', 'attorney', 'legal', 'law firm',\n    'accountant', 'accounting', 'cpa', 'bookkeeping'\n  ];\n  \n  for (const place of places) {\n    const name = place.displayName?.text?.toLowerCase() || '';\n    const address = place.formattedAddress?.toLowerCase() || '';\n    const types = place.types?.join(' ').toLowerCase() || '';\n    \n    const shouldExclude = excludeKeywords.some(keyword => \n      name.includes(keyword) || types.includes(keyword) || address.includes(keyword)\n    );\n    \n    if (!shouldExclude) {\n      allResults.push({\n        name: place.displayName?.text || 'N/A',\n        address: place.formattedAddress || 'N/A',\n        phone: place.internationalPhoneNumber || '',\n        website: place.websiteUri || '',\n        region: region,\n        category: category\n      });\n    }\n  }\n}\n\nreturn allResults.map(place => ({ json: place }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        416
      ],
      "id": "495891b3-cd2d-44dc-83c6-a0a6420248d2",
      "name": "Extractor",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1C7_7Qz94cLSmhQx8D-kC3ZVvBh8XTqQ6m1r-2HtdE_I/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C7_7Qz94cLSmhQx8D-kC3ZVvBh8XTqQ6m1r-2HtdE_I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $json.name }}",
            "Address": "={{ $json.address }}",
            "Phone ": "={{ \"'\" + ($json.phone || '') }}",
            "Website ": "={{ $json.website || '' }}",
            "Industry ": "={{ $json.category }}",
            "Region ": "={{ $json.region }}",
            "Data Source": "Google Maps",
            "Scraped Date": "={{ $now.format('yyyy-MM-dd') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone ",
              "displayName": "Phone ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website ",
              "displayName": "Website ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Founded Year",
              "displayName": "Founded Year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Employee Count ",
              "displayName": "Employee Count ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry ",
              "displayName": "Industry ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Region ",
              "displayName": "Region ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Owner/CEO",
              "displayName": "Owner/CEO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email ",
              "displayName": "Email ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data Source",
              "displayName": "Data Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Scraped Date",
              "displayName": "Scraped Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1392,
        416
      ],
      "id": "e52210a6-9229-4685-bb01-098c8fc4af1d",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "M20jRThougKtPBBr",
          "name": "GSheets 9397417"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        512,
        416
      ],
      "id": "0d86c199-778f-4e7e-9bc7-a90befa8a844",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Remove duplicates based on name + address\nconst seen = new Set();\nconst unique = [];\n\nfor (const item of $input.all()) {\n  const key = `${item.json.name}|${item.json.address}`;\n  \n  if (!seen.has(key)) {\n    seen.add(key);\n    unique.push(item);\n  }\n}\n\nreturn unique;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        560
      ],
      "id": "7840c169-1322-445b-b3f6-74f5efda59aa",
      "name": "Remove duplicates"
    },
    {
      "parameters": {
        "content": "This workflow serches Google Map and entries initial information about the companies. \n\nI share the manualk trigger to keep both workflows on the same canvas\n",
        "height": 304,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -384,
        336
      ],
      "typeVersion": 1,
      "id": "8ee4df63-d417-404e-9659-dc46d631f647",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1C7_7Qz94cLSmhQx8D-kC3ZVvBh8XTqQ6m1r-2HtdE_I/edit?gid=0#gid=0",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C7_7Qz94cLSmhQx8D-kC3ZVvBh8XTqQ6m1r-2HtdE_I/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        720
      ],
      "id": "51fc3b4c-2286-4861-970c-ee1e37244907",
      "name": "ReadSheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "M20jRThougKtPBBr",
          "name": "GSheets 9397417"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        576,
        720
      ],
      "id": "91b085c8-148a-4bfc-8915-ef9bd8078634",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        368,
        720
      ],
      "id": "59bd6dcf-461c-4922-b5fc-9db9f2535e6e",
      "name": "Limit"
    },
    {
      "parameters": {
        "query": "={{ $json['Company Name'] }} {{ $json['Address'] }} founded year CEO owner number of employees email",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        784,
        816
      ],
      "id": "0aa47e57-f9ba-4024-97a3-45e473efd17b",
      "name": "Search",
      "credentials": {
        "tavilyApi": {
          "id": "b2qiHohUbwcagejw",
          "name": "Tavily TEST MAIL.RU"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Based on these search results about a company, extract:\n1. Founded year\n2. Number of employees\n3. CEO/Owner full name\n4. CEO/Owner email\n\nCompany: {{ $('Loop Over Items').item.json['Company Name'] }}\nAddress: {{ $('Loop Over Items').item.json['Address'] }}\n\nSearch results:\n{{ JSON.stringify($json.results) }}\n\nRespond ONLY in JSON format:\n{\"founded_year\": \"YYYY or N/A\", \"employees\": \"X or N/A\", \"ceo_name\": \"Name or N/A\", \"ceo_email\": \"email or N/A\"}\nNo other text."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        992,
        816
      ],
      "id": "b7e661ae-5763-49be-bf4b-6c48c561594a",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "T6jALHM6FIHsU7i3",
          "name": "OpenAi API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const result = {\n  company_name: 'test',\n  founded_year: 'test',\n  employees: 'test',\n  ceo_name: 'test',\n  ceo_email: 'test'\n};\n\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        816
      ],
      "id": "ee90b80c-51c0-464e-bd5a-508ceb4cce30",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1C7_7Qz94cLSmhQx8D-kC3ZVvBh8XTqQ6m1r-2HtdE_I/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C7_7Qz94cLSmhQx8D-kC3ZVvBh8XTqQ6m1r-2HtdE_I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Founded Year": "={{ $json.founded_year }}",
            "Employee Count ": "={{ $json.employees }}",
            "Owner/CEO": "={{ $json.ceo_name }}",
            "Email ": "={{ $json.ceo_email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone ",
              "displayName": "Phone ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website ",
              "displayName": "Website ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Founded Year",
              "displayName": "Founded Year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Employee Count ",
              "displayName": "Employee Count ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry ",
              "displayName": "Industry ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Region ",
              "displayName": "Region ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Owner/CEO",
              "displayName": "Owner/CEO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email ",
              "displayName": "Email ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data Source",
              "displayName": "Data Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Scraped Date",
              "displayName": "Scraped Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1552,
        816
      ],
      "id": "c99f176c-caaf-48e8-b653-38dcd3410194",
      "name": "Update",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "M20jRThougKtPBBr",
          "name": "GSheets 9397417"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "ReadSheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Regions": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extractor": {
      "main": [
        [
          {
            "node": "Remove duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove duplicates": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReadSheet": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-08T23:48:37.240Z",
  "updatedAt": "2026-02-11T20:19:36.836Z",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "versionId": "f7f232c8-746f-4dde-b841-d2e881d4b3fe",
  "triggerCount": 0,
  "id": "flxObQz6U7YaTjoFDSS9t",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "parentFolderId": null,
  "isArchived": false,
  "versionCounter": 23,
  "description": null,
  "activeVersionId": null
}