localbusinesssearch_2026-02-11T17-00-07.json
{
  "name": "LocalBusinessSearch",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        408
      ],
      "id": "0e0e4a0a-ca2f-4fdc-a865-d9573b61c90b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Define search regions with coordinates\nconst regions = [\n  { name: \"Vancouver\", lat: 49.2827, lng: -123.1207 },\n  { name: \"Burnaby\", lat: 49.2488, lng: -122.9805 },\n  { name: \"Surrey\", lat: 49.1913, lng: -122.8490 },\n  { name: \"Richmond\", lat: 49.1666, lng: -123.1336 },\n  { name: \"Coquitlam\", lat: 49.2838, lng: -122.7932 },\n  { name: \"New Westminster\", lat: 49.2069, lng: -122.9110 },\n  { name: \"Delta\", lat: 49.0847, lng: -123.0587 },\n  { name: \"Victoria\", lat: 48.4284, lng: -123.3656 },\n  { name: \"Nanaimo\", lat: 49.1659, lng: -123.9401 },\n  { name: \"Courtenay\", lat: 49.6878, lng: -124.9945 },\n  { name: \"Campbell River\", lat: 50.0244, lng: -125.2475 }\n];\n\n// Define business categories\nconst categories = [\n  \"wholesale distributor\",\n  \"warehousing\",\n  \"logistics service\",\n  \"freight forwarding service\",\n  \"import export company\",\n  \"business to business service\",\n  \"marketing agency\",\n  \"IT company\",\n  \"industrial equipment supplier\",\n  \"business consultant\",\n  \"commercial cleaning service\",\n  \"office equipment supplier\"\n];\n\n// Create search combinations\nconst searches = [];\nfor (const region of regions) {\n  for (const category of categories) {\n    searches.push({\n      region: region.name,\n      lat: region.lat,\n      lng: region.lng,\n      category: category\n    });\n  }\n}\n\nreturn searches.map(search => ({ json: search }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        408
      ],
      "id": "55968719-48e8-4639-9ff8-d980660e82b5",
      "name": "Regions"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchText",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Goog-FieldMask",
              "value": "places.displayName,places.formattedAddress,places.internationalPhoneNumber,places.websiteUri,places.types,places.location"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"textQuery\": \"{{ $json.category }} in {{ $json.region }}\",\n  \"pageSize\": 20,\n  \"locationBias\": {\n    \"circle\": {\n      \"center\": {\n        \"latitude\": {{ $json.lat }},\n        \"longitude\": {{ $json.lng }}\n      },\n      \"radius\": 15000\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        288,
        336
      ],
      "id": "b99408ec-907c-4fc5-9ca5-f14a27644d59",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "NaeYxTAFRgaXA5Sh",
          "name": "Google Maps API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get data from merge\nconst httpResponse = $input.item.json;\nconst places = httpResponse.places || [];\nconst region = $input.item.json.region;\nconst category = $input.item.json.category;\n\nconst excludeKeywords = [\n  'restaurant', 'food', 'beverage', 'cafe', 'coffee',\n  'retail', 'store', 'shop', 'mall', 'boutique',\n  'construction', 'contractor', 'builder',\n  'lawyer', 'attorney', 'legal', 'law firm',\n  'accountant', 'accounting', 'cpa', 'bookkeeping'\n];\n\nconst results = [];\n\nfor (const place of places) {\n  const name = place.displayName?.text?.toLowerCase() || '';\n  const address = place.formattedAddress?.toLowerCase() || '';\n  const types = place.types?.join(' ').toLowerCase() || '';\n  \n  const shouldExclude = excludeKeywords.some(keyword => \n    name.includes(keyword) || types.includes(keyword) || address.includes(keyword)\n  );\n  \n  if (!shouldExclude) {\n    results.push({\n      name: place.displayName?.text || 'N/A',\n      address: place.formattedAddress || 'N/A',\n      phone: place.internationalPhoneNumber || '',\n      website: place.websiteUri || '',\n      region: region,\n      category: category\n    });\n  }\n}\n\nreturn results.map(place => ({ json: place }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        408
      ],
      "id": "495891b3-cd2d-44dc-83c6-a0a6420248d2",
      "name": "Extractor"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1C7_7Qz94cLSmhQx8D-kC3ZVvBh8XTqQ6m1r-2HtdE_I/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C7_7Qz94cLSmhQx8D-kC3ZVvBh8XTqQ6m1r-2HtdE_I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $json.name }}",
            "Address": "={{ $json.address }}",
            "Phone ": "={{ $json.phone }}",
            "Website ": "={{ $json.website || '' }}",
            "Industry ": "={{ $json.category }}",
            "Region ": "={{ $json.region }}",
            "Data Source": "Google Maps",
            "Scraped Date": "={{ $now.format('yyyy-MM-dd') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone ",
              "displayName": "Phone ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website ",
              "displayName": "Website ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Founded Year",
              "displayName": "Founded Year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Employee Count ",
              "displayName": "Employee Count ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry ",
              "displayName": "Industry ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Region ",
              "displayName": "Region ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Owner/CEO",
              "displayName": "Owner/CEO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email ",
              "displayName": "Email ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data Source",
              "displayName": "Data Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Scraped Date",
              "displayName": "Scraped Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        408
      ],
      "id": "e52210a6-9229-4685-bb01-098c8fc4af1d",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "M20jRThougKtPBBr",
          "name": "GSheets 9397417"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        512,
        408
      ],
      "id": "0d86c199-778f-4e7e-9bc7-a90befa8a844",
      "name": "Merge"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Regions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Regions": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extractor": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-08T23:48:37.240Z",
  "updatedAt": "2026-02-10T20:20:20.082Z",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "versionId": "3537f6a1-7071-453c-8fa6-b97d3ecfce43",
  "triggerCount": 0,
  "id": "flxObQz6U7YaTjoFDSS9t",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "parentFolderId": null,
  "isArchived": false,
  "versionCounter": 18,
  "description": null,
  "activeVersionId": null
}