localbusinesssearch_2026-02-09T17-00-07.json
{
  "name": "LocalBusinessSearch",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        0
      ],
      "id": "0e0e4a0a-ca2f-4fdc-a865-d9573b61c90b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"nodes\": [\n    {\n      \"parameters\": {\n        \"mode\": \"manual\",\n        \"duplicateItem\": false,\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"api_key\",\n              \"name\": \"googleMapsApiKey\",\n              \"value\": \"AIzaSyBlhhioz0Tm4eVlXHYVFops2gIUj8JgFDc\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.4,\n      \"position\": [\n        -400,\n        -96\n      ],\n      \"id\": \"cf236b35-4362-40dc-bb3c-84af2cf3cc59\",\n      \"name\": \"Set API Keys\"\n    }\n  ],\n  \"connections\": {}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        0
      ],
      "id": "74be1ffd-b82f-4baf-8791-f18917c70844",
      "name": "SetAPI"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1C7_7Qz94cLSmhQx8D-kC3ZVvBh8XTqQ6m1r-2HtdE_I/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C7_7Qz94cLSmhQx8D-kC3ZVvBh8XTqQ6m1r-2HtdE_I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "Company Name",
            "Address": "Address",
            "Phone ": "Phone",
            "Website ": "Website",
            "Founded Year": "Founded Year",
            "Employee Count ": "Employee Count",
            "Industry ": "Industry",
            "Region ": "Region",
            "Owner/CEO": "Owner/CEO",
            "Email ": "Email",
            "Notes": "Notes",
            "Data Source": "Data Source",
            "Scraped Date": "Scraped Date"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone ",
              "displayName": "Phone ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website ",
              "displayName": "Website ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Founded Year",
              "displayName": "Founded Year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Employee Count ",
              "displayName": "Employee Count ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry ",
              "displayName": "Industry ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Region ",
              "displayName": "Region ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Owner/CEO",
              "displayName": "Owner/CEO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email ",
              "displayName": "Email ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data Source",
              "displayName": "Data Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Scraped Date",
              "displayName": "Scraped Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        0
      ],
      "id": "8316f423-a435-4826-bbef-a43e4273f705",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "M20jRThougKtPBBr",
          "name": "GSheets 9397417"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Define search regions with coordinates\nconst regions = [\n  { name: \"Vancouver\", lat: 49.2827, lng: -123.1207 },\n  { name: \"Burnaby\", lat: 49.2488, lng: -122.9805 },\n  { name: \"Surrey\", lat: 49.1913, lng: -122.8490 },\n  { name: \"Richmond\", lat: 49.1666, lng: -123.1336 },\n  { name: \"Coquitlam\", lat: 49.2838, lng: -122.7932 },\n  { name: \"New Westminster\", lat: 49.2069, lng: -122.9110 },\n  { name: \"Delta\", lat: 49.0847, lng: -123.0587 },\n  { name: \"Victoria\", lat: 48.4284, lng: -123.3656 },\n  { name: \"Nanaimo\", lat: 49.1659, lng: -123.9401 },\n  { name: \"Courtenay\", lat: 49.6878, lng: -124.9945 },\n  { name: \"Campbell River\", lat: 50.0244, lng: -125.2475 }\n];\n\n// Define business categories\nconst categories = [\n  \"wholesale distributor\",\n  \"warehousing\",\n  \"logistics service\",\n  \"freight forwarding service\",\n  \"import export company\",\n  \"business to business service\",\n  \"marketing agency\",\n  \"IT company\",\n  \"industrial equipment supplier\",\n  \"business consultant\",\n  \"commercial cleaning service\",\n  \"office equipment supplier\"\n];\n\n// Create search combinations\nconst searches = [];\nfor (const region of regions) {\n  for (const category of categories) {\n    searches.push({\n      region: region.name,\n      lat: region.lat,\n      lng: region.lng,\n      category: category\n    });\n  }\n}\n\nreturn searches.map(search => ({ json: search }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "55968719-48e8-4639-9ff8-d980660e82b5",
      "name": "Regions"
    },
    {
      "parameters": {
        "url": "=https://maps.googleapis.com/maps/api/place/textsearch/json?query={{ $json.category }}&location={{ $json.lat }},{{ $json.lng }}&radius=15000&key={{ $('SetAPI').first().json.googleMapsApiKey }}",
        "options": {
          "batching": {
            "batch": {}
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        656,
        0
      ],
      "id": "2e5ca790-7307-4251-9c20-e47e68a07e90",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "SetAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetAPI": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Regions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Regions": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-08T23:48:37.240Z",
  "updatedAt": "2026-02-09T01:27:49.550Z",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "versionId": "c3da7455-a658-4e50-b35f-14b00daa2919",
  "triggerCount": 0,
  "id": "flxObQz6U7YaTjoFDSS9t",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "parentFolderId": null,
  "isArchived": false,
  "versionCounter": 10,
  "description": null,
  "activeVersionId": null
}