papilot_2025-10-16T04-00-16.json
{
  "name": "PA pilot",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -352,
        112
      ],
      "id": "564e257b-9a51-440d-9bde-221e83980e01",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "T6jALHM6FIHsU7i3",
          "name": "OpenAi API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        144,
        -96
      ],
      "id": "193e493f-39a4-4efe-94a2-a13df2c3bcee",
      "name": "Send a text message",
      "webhookId": "6ffb8ecd-7764-41c8-9767-78485fd4b483",
      "credentials": {
        "telegramApi": {
          "id": "s0r2nKJcTTTNeDuC",
          "name": "Telegram n8n_pilot_bot (@n8n_fly_bot)"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -688,
        -80
      ],
      "id": "86e6ca1d-b843-4bf3-8b70-6a14f2292811",
      "name": "Telegram Trigger",
      "webhookId": "949565c8-34c7-4aef-9c8f-c5c2ce4b33ed",
      "credentials": {
        "telegramApi": {
          "id": "s0r2nKJcTTTNeDuC",
          "name": "Telegram n8n_pilot_bot (@n8n_fly_bot)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a personal AI assistant bot. Your role is to:\n- Answer questions helpfully and clearly\n- Have funny conversations  \n- Provide useful information when requested\n\nYou prompt for proceeding is {{ $json.message.text }}\n{{ $json.message.text }}Keep your responses conversational but informative. If you don't know something, be brutally honest.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -192,
        -80
      ],
      "id": "a55b2e97-c7d4-45c3-933c-8e28760fd246",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -192,
        128
      ],
      "id": "1f70ec20-2ec7-49c5-8f1a-3c4740bba24b",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "2xkaCrgCVOfCETb3",
          "name": "PostgreSQL credential n8n_database"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://n8n:5678/webhook/51105a53-0f04-4efa-a9f7-8464b71cbb02",
        "serverTransport": "httpStreamable"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        16,
        160
      ],
      "id": "13a26e17-eb3f-4085-80ad-bff66686d8ff",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "path": "51105a53-0f04-4efa-a9f7-8464b71cbb02"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "typeVersion": 2,
      "position": [
        416,
        80
      ],
      "id": "a60b96ec-864c-4619-876f-b73341ad60d0",
      "name": "MCP Server Trigger",
      "webhookId": "51105a53-0f04-4efa-a9f7-8464b71cbb02"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "lpd2000@gmail.com",
          "mode": "list",
          "cachedResultName": "lpd2000@gmail.com"
        },
        "returnAll": "=returnAll: true",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        288,
        272
      ],
      "id": "8329fe20-024d-4ea9-a299-c41eb54f4989",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "UpYMdK76SRAFiDWv",
          "name": "GCalendar account LPD2000"
        }
      }
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-05T00:18:47.579Z",
  "updatedAt": "2025-09-07T18:17:44.731Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "f65024ab-1982-4715-acc8-a1015905c2e7",
  "triggerCount": 1,
  "id": "uiJlEf1FFMLyp7AZ",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "parentFolderId": null,
  "isArchived": true
}