synccallpdcal939v2_2025-11-10T17-00-17.json
{
  "name": "SYNC CAL LPD CAL 939 v2",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6f808188-3067-4a01-86bf-61dc21d430e6"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        112,
        112
      ],
      "id": "fb0f5009-7df5-4cb9-814f-6dfdb7efe979",
      "name": "Switch"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "lpd2000@gmail.com",
          "mode": "list",
          "cachedResultName": "lpd2000@gmail.com"
        },
        "triggerOn": "eventCreated",
        "options": {
          "matchTerm": ""
        }
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        -112,
        -80
      ],
      "id": "6871cb8b-14ee-4d9b-99db-1afdf904f1ae",
      "name": "created",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "UpYMdK76SRAFiDWv",
          "name": "GCalendar account LPD2000"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "lpd2000@gmail.com",
          "mode": "list",
          "cachedResultName": "lpd2000@gmail.com"
        },
        "triggerOn": "eventUpdated",
        "options": {
          "matchTerm": ""
        }
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        -112,
        112
      ],
      "id": "bd1ab719-fd19-4eee-bb7b-8c5f5e454b15",
      "name": "updated",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "UpYMdK76SRAFiDWv",
          "name": "GCalendar account LPD2000"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "lpd2000@gmail.com",
          "mode": "list",
          "cachedResultName": "lpd2000@gmail.com"
        },
        "triggerOn": "eventCancelled",
        "options": {
          "matchTerm": ""
        }
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        -112,
        304
      ],
      "id": "aa4adc35-6763-4f8c-80f5-581d57562420",
      "name": "deleted",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "UpYMdK76SRAFiDWv",
          "name": "GCalendar account LPD2000"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "9397417@gmail.com",
          "mode": "list",
          "cachedResultName": "9397417@gmail.com"
        },
        "start": "={{ $('created').item.json.start.dateTime }}",
        "end": "={{ $('created').item.json.end.dateTime }}",
        "additionalFields": {
          "summary": "=PLACEHOLDER FOR \"{{ $('created').item.json.organizer.email }} {{ $('created').item.json.summary }}\""
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        304,
        -80
      ],
      "id": "352eb09a-f429-48d5-8127-3078d6e8970d",
      "name": "Create",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1zAAg8U8iPEwINFE",
          "name": "GCalendar account 9397417"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "9397417@gmail.com",
          "mode": "list",
          "cachedResultName": "9397417@gmail.com"
        },
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        304,
        112
      ],
      "id": "7f203c12-e0ba-4c77-815a-7ad72b2e7b2a",
      "name": "Update",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1zAAg8U8iPEwINFE",
          "name": "GCalendar account 9397417"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "9397417@gmail.com",
          "mode": "list",
          "cachedResultName": "9397417@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        320,
        320
      ],
      "id": "72141aaf-997e-4d5d-84b0-8b8a86de0de4",
      "name": "Delete",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1zAAg8U8iPEwINFE",
          "name": "GCalendar account 9397417"
        }
      }
    }
  ],
  "connections": {
    "created": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updated": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deleted": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-07T21:28:03.454Z",
  "updatedAt": "2025-11-07T21:33:33.893Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Calendar created": {
      "lastTimeChecked": "2025-11-05T23:09:18Z"
    },
    "node:Google Calendar updated": {
      "lastTimeChecked": "2025-11-05T23:09:18Z"
    }
  },
  "pinData": {},
  "versionId": "78dac705-6a26-40f0-af6e-b807a735f50a",
  "triggerCount": 2,
  "id": "bPjvBwipBcIYvlDa",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "parentFolderId": "rOWRQBXvfTGFiZFy",
  "isArchived": false,
  "versionCounter": 13
}