synccallpdcal939_2025-09-11T02-07-47.json
{
  "name": "SYNC CAL LPD CAL 939",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "9397417@gmail.com",
          "mode": "list",
          "cachedResultName": "9397417@gmail.com"
        },
        "start": "={{ $('Google Calendar created').item.json.start.dateTime }}",
        "end": "={{ $('Google Calendar created').item.json.end.dateTime }}",
        "additionalFields": {
          "summary": "=PLACEHOLDER FOR \"{{ $('Google Calendar created').item.json.organizer.email }} {{ $('Google Calendar created').item.json.summary }}\""
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        512,
        0
      ],
      "id": "7920b1b7-9f25-4c15-9002-0c2ffc3a0267",
      "name": "Create Copy in Main Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1zAAg8U8iPEwINFE",
          "name": "GCalendar account 9397417"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        512,
        208
      ],
      "id": "67fb9bc3-3d0f-4b3f-b72c-978e5d827dfd",
      "name": "Do Nothing1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "31f37451-9f49-41c8-bf80-e8722fafe7ba",
              "leftValue": "={{ $json.start.dateTime }}",
              "rightValue": "2025-06-26T00:00:00",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        288,
        112
      ],
      "id": "d1f54e90-36cf-42fe-b8a3-67435311ee64",
      "name": "If"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "lpd2000@gmail.com",
          "mode": "list",
          "cachedResultName": "lpd2000@gmail.com"
        },
        "triggerOn": "eventCreated",
        "options": {
          "matchTerm": ""
        }
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "bd532594-6ce1-4499-9602-99efe74e49cc",
      "name": "Google Calendar created",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "UpYMdK76SRAFiDWv",
          "name": "GCalendar account LPD2000"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "lpd2000@gmail.com",
          "mode": "list",
          "cachedResultName": "lpd2000@gmail.com"
        },
        "triggerOn": "eventUpdated",
        "options": {
          "matchTerm": ""
        }
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "61f2c5e8-5aee-4f6f-a8f1-434802679d3a",
      "name": "Google Calendar updated",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "UpYMdK76SRAFiDWv",
          "name": "GCalendar account LPD2000"
        }
      }
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Create Copy in Main Calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Do Nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar created": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar updated": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-09T23:27:00.931Z",
  "updatedAt": "2025-09-07T19:37:38.403Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Calendar created": {
      "lastTimeChecked": "2025-09-10T23:57:48Z"
    },
    "node:Google Calendar updated": {
      "lastTimeChecked": "2025-09-10T23:57:47Z"
    }
  },
  "pinData": {},
  "versionId": "10893f23-f22c-482e-bc6f-108358d6925d",
  "triggerCount": 2,
  "id": "o0cOT9WSMHxwnPUB",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "parentFolderId": "rOWRQBXvfTGFiZFy",
  "isArchived": false
}