test2latex_2025-09-29T16-00-14.json
{
  "name": "test2_Latex",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "options": {
          "responseMode": "lastNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -160,
        -80
      ],
      "id": "98bfeaa4-d783-41e1-a3a2-e44fd5aa494b",
      "name": "Latex generator",
      "webhookId": "21cfffbb-eae0-4a86-9506-fdfd6dfedf45"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5602c1ef-1652-4fc2-9ecc-02b69021fd5d",
              "name": "user_text",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "c9d1026d-2edf-41f3-958b-0b0650f1579b",
              "name": "filename",
              "value": "=document_{{ Date.now() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        -80
      ],
      "id": "9f50784c-2605-43fb-b94e-ad2af627bca5",
      "name": "Set"
    },
    {
      "parameters": {
        "jsCode": "const userText = $input.all()[0].json.user_text;\nconst filename = $input.all()[0].json.filename;\n\n// Process formatting with correct escaping\nconst processedText = userText\n  .replace(/\\*\\*(.*?)\\*\\*/g, '\\\\textbf{$1}')\n  .replace(/\\*(.*?)\\*/g, '\\\\textit{$1}')\n  .replace(/\\n\\n/g, '\\n\\n\\\\par\\n');\n\n// Generate LaTeX with proper escaping\nconst latexContent = `\\\\documentclass[12pt]{article}\n\\\\usepackage[utf8]{inputenc}\n\\\\usepackage[margin=1in]{geometry}\n\\\\begin{document}\n\\\\title{Generated Document}\n\\\\maketitle\n\n${processedText}\n\n\\\\end{document}`;\n\nreturn [{\n  json: {\n    filename: filename,\n    latex_content: latexContent,\n    status: \"LaTeX content generated\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        -80
      ],
      "id": "60463b61-1a7a-4e04-ac43-4d17a272c6fb",
      "name": "Generate Latex"
    },
    {
      "parameters": {
        "command": "=cd /tmp && pdflatex -interaction=nonstopmode -halt-on-error {{ $json.filename }}.tex 2>&1"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        880,
        -80
      ],
      "id": "28669960-3e4a-4fd0-b7a2-b012ef9624a8",
      "name": "Compile PDF"
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.all()[0].json.stdout;\nconst parsedData = JSON.parse(stdout);\nreturn [{ json: parsedData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -80
      ],
      "id": "80a59235-dd93-4f19-a2b6-b1afc4df0708",
      "name": "Parse output"
    },
    {
      "parameters": {
        "command": "=if [ -f \"/tmp/{{ $json.filename }}.pdf\" ]; then\n  SIZE=$(stat -c%s \"/tmp/{{ $json.filename }}.pdf\")\n  printf '{\"filename\": \"%s\", \"pdf_path\": \"/tmp/%s.pdf\", \"pdf_size\": %d, \"status\": \"PDF generated successfully\", \"success\": true}' \"{{ $json.filename }}\" \"{{ $json.filename }}\" \"$SIZE\"\nelse\n  printf '{\"filename\": \"%s\", \"status\": \"PDF generation failed - file not found\", \"success\": false}' \"{{ $json.filename }}\"\nfi"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1296,
        -80
      ],
      "id": "abc68fc5-07f3-44ab-a1fe-d4303eff9e37",
      "name": "Validate PDF1"
    },
    {
      "parameters": {
        "jsCode": "const compileInput = $input.all()[0];\n// Get filename from the previous data in the workflow\nconst filename = compileInput.json.filename || 'document_1757874315075';\nreturn [{ json: { filename: filename } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        -80
      ],
      "id": "5dbb365d-a385-49b2-8dcd-f49faacd7367",
      "name": "Parse Compile output"
    },
    {
      "parameters": {
        "command": "=cat > /home/admin1/pdf_files/{{ $json.filename }}.tex << 'EOF'\n{{ $json.latex_content }}\nEOF\nprintf '{\"filename\": \"%s\", \"status\": \"file written\"}' \"{{ $json.filename }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        464,
        -80
      ],
      "id": "b59adb5c-29a9-4784-a969-a232d4ace485",
      "name": "Write File"
    }
  ],
  "connections": {
    "Latex generator": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Generate Latex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Latex": {
      "main": [
        [
          {
            "node": "Write File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile PDF": {
      "main": [
        [
          {
            "node": "Parse Compile output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse output": {
      "main": [
        [
          {
            "node": "Compile PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Compile output": {
      "main": [
        [
          {
            "node": "Validate PDF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write File": {
      "main": [
        [
          {
            "node": "Parse output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-14T18:24:42.617Z",
  "updatedAt": "2025-09-15T22:04:04.927Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "071022a5-1fa6-4bc0-8788-ef97cbaca039",
  "triggerCount": 0,
  "id": "VvvmTUjm1JLKj76x",
  "meta": null,
  "parentFolderId": null,
  "isArchived": true
}