testlatex_2025-09-15T04-00-13.json
{
  "name": "test_Latex",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "options": {
          "responseMode": "lastNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "791a0d77-072b-41d8-aa24-28959e04bffd",
      "name": "Latex generator",
      "webhookId": "21cfffbb-eae0-4a86-9506-fdfd6dfedf45"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "56d4a490-a068-41da-b819-c984940fbd36",
      "name": "Set"
    },
    {
      "parameters": {
        "jsCode": "const userText = $input.all()[0].json.user_text;\nconst filename = $input.all()[0].json.filename;\n\n// Process formatting with correct escaping\nconst processedText = userText\n  .replace(/\\*\\*(.*?)\\*\\*/g, '\\\\textbf{$1}')\n  .replace(/\\*(.*?)\\*/g, '\\\\textit{$1}')\n  .replace(/\\n\\n/g, '\\n\\n\\\\par\\n');\n\n// Generate LaTeX with proper escaping\nconst latexContent = `\\\\documentclass[12pt]{article}\n\\\\usepackage[utf8]{inputenc}\n\\\\usepackage[margin=1in]{geometry}\n\\\\begin{document}\n\\\\title{Generated Document}\n\\\\maketitle\n\n${processedText}\n\n\\\\end{document}`;\n\nreturn [{\n  json: {\n    filename: filename,\n    latex_content: latexContent,\n    status: \"LaTeX content generated\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "3a0501bf-1246-405d-bedc-123d219c5cf8",
      "name": "Generate Latex"
    },
    {
      "parameters": {
        "command": "=cd /tmp && pdflatex -interaction=nonstopmode -halt-on-error {{ $json.filename }}.tex"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "id": "a7d88760-2663-4a58-aeed-4c928112333f",
      "name": "Compille PDF"
    },
    {
      "parameters": {
        "command": "=printf '%s' '{{ $json.latex_content }}' > /tmp/{{ $json.filename }}.tex"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "a7ac8499-3a3f-4b7e-ba7b-d12188d26893",
      "name": "Write File"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all()[0].json;\nconsole.log('Debug data:', JSON.stringify(data, null, 2));\nreturn [{ json: data }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "df1e1e7a-05d6-4109-bc69-e60ae624c904",
      "name": "Debug"
    }
  ],
  "connections": {
    "Latex generator": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Generate Latex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Latex": {
      "main": [
        [
          {
            "node": "Write File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write File": {
      "main": [
        [
          {
            "node": "Debug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug": {
      "main": [
        [
          {
            "node": "Compille PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-13T15:01:02.162Z",
  "updatedAt": "2025-09-14T18:22:05.814Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "ed7c9749-82eb-4aae-aaa8-1ffc4bfaf459",
  "triggerCount": 0,
  "id": "fQq3S0fivC2q5Mv0",
  "meta": null,
  "parentFolderId": null,
  "isArchived": false
}