test2latex_2025-09-27T16-00-13.json
{
  "name": "test2_latex",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "f266acf7-768d-4470-9f40-b75b85b44aa6",
      "name": "When chat message received",
      "webhookId": "5754f0f6-208c-494a-9bf2-a206ee5e660e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5bb011b7-672a-4443-8cc0-713fca77a9d5",
              "name": "user_text",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "75b212b1-6ff0-4133-9c3d-157a7408e44f",
              "name": "filename",
              "value": "=document_{{ Date.now() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "18c4fe23-c99f-4c4b-b183-159dcd329a6a",
      "name": "Set Variables"
    },
    {
      "parameters": {
        "command": "=mkdir -p /tmp/pdf_files && cat > /tmp/pdf_files/{{ $json.filename }}.tex << 'EOF'\n\\documentclass[12pt]{article}\n\\usepackage[utf8]{inputenc}\n\\usepackage[margin=1in]{geometry}\n\\begin{document}\n\\title{Generated Document}\n\\maketitle\n\n{{ $json.user_text }}\n\n\\end{document}\nEOF\necho '{\"filename\": {{ JSON.stringify($json.filename) }}, \"status\": \"file written\"}'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "d82f6e04-a70b-46f2-9ece-a7c32250f856",
      "name": "Write LaTeX File"
    },
    {
      "parameters": {
        "jsCode": "const stdout = $json.stdout || \"\";\nconst match = stdout.match(/\\{[\\s\\S]*\\}/);\nif (!match) throw new Error(\"No JSON found in stdout:\\n\" + stdout);\nreturn [{ json: JSON.parse(match[0]) }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "04c8ce2e-ee10-4516-adfd-8dd6be34e415",
      "name": "Parse Write Output"
    },
    {
      "parameters": {
        "command": "=echo '{\"filename\": {{ JSON.stringify($json.filename) }}, \"status\": \"PDF compiled\", \"pdf_path\": \"/tmp/pdf_files/{{ $json.filename }}.pdf\"}'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        848,
        0
      ],
      "id": "92c89d68-8c86-4d95-8227-b92a44485c98",
      "name": "Compile PDF"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Write LaTeX File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write LaTeX File": {
      "main": [
        [
          {
            "node": "Parse Write Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Write Output": {
      "main": [
        [
          {
            "node": "Compile PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-15T21:14:59.750Z",
  "updatedAt": "2025-09-15T22:04:00.518Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "27b56ae9-9954-4f8d-9139-0b595e240b7f",
  "triggerCount": 0,
  "id": "6B0ufundGFNUa3G8",
  "meta": null,
  "parentFolderId": null,
  "isArchived": true
}