testdelete_2025-10-31T04-00-20.json
{
  "name": "TEST ! DELETE",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -384,
        0
      ],
      "id": "497fef47-0b61-4388-a954-9c24fd4be6b7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "T6jALHM6FIHsU7i3",
          "name": "OpenAi API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a personal AI assistant bot. Your role is to:\n- Answer questions helpfully and clearly\n- Have funny conversations  \n- Provide useful information when requested\n\nYou prompt for proceeding is {{ $json.message.text }}\n{{ $json.message.text }}Keep your responses conversational but informative. If you don't know something, be brutally honest.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -224,
        -192
      ],
      "id": "3e923f33-fd9f-49e6-a1f7-95f21f810983",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -224,
        16
      ],
      "id": "7b1ef207-00b4-48f8-951f-6d100530551a",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "2xkaCrgCVOfCETb3",
          "name": "PostgreSQL credential n8n_database"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -496,
        -176
      ],
      "id": "7fd8bcfd-daf0-4555-a894-a521f2182009",
      "name": "Telegram Trigger",
      "webhookId": "dc18ffb9-b2d7-4e4f-8e1e-ae1ff993ed36",
      "credentials": {
        "telegramApi": {
          "id": "s0r2nKJcTTTNeDuC",
          "name": "Telegram n8n_pilot_bot (@n8n_fly_bot)"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        128,
        -192
      ],
      "id": "725e4ee5-40a2-467f-86b5-92ef4258da46",
      "name": "Send a text message",
      "credentials": {
        "telegramApi": {
          "id": "s0r2nKJcTTTNeDuC",
          "name": "Telegram n8n_pilot_bot (@n8n_fly_bot)"
        }
      }
    },
    {
      "parameters": {
        "path": "84a61cd2-d52e-44e2-9005-f3c269af101f"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "typeVersion": 2,
      "position": [
        368,
        -16
      ],
      "id": "4fba9ec9-19f2-4bb6-b93c-d275d19e79e3",
      "name": "MCP Server Trigger",
      "webhookId": "84a61cd2-d52e-44e2-9005-f3c269af101f"
    },
    {
      "parameters": {
        "endpointUrl": "https://n8n:5678/mcp/84a61cd2-d52e-44e2-9005-f3c269af101f"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        112,
        0
      ],
      "id": "582c357e-f693-4412-8593-b7f3eae2739f",
      "name": "MCP Client"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-05T18:34:56.779Z",
  "updatedAt": "2025-09-07T18:17:54.608Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "b808f275-1625-4a48-92e9-499ad450dc73",
  "triggerCount": 1,
  "id": "UUxChcKvxFpkhiSU",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "parentFolderId": null,
  "isArchived": true
}