testlatex_2025-09-28T16-00-13.json
{
  "name": "test_Latex",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "options": {
          "responseMode": "lastNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "791a0d77-072b-41d8-aa24-28959e04bffd",
      "name": "Latex generator",
      "webhookId": "21cfffbb-eae0-4a86-9506-fdfd6dfedf45"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7e26697-2020-42c1-994e-dd419e9311d6",
              "name": "user_text",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "ee7a74f9-ed0b-4282-b661-0f0aca9a6c4c",
              "name": "filename",
              "value": "=document_{{ Date.now() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "56d4a490-a068-41da-b819-c984940fbd36",
      "name": "Set"
    },
    {
      "parameters": {
        "jsCode": "const userText = $input.all()[0].json.user_text;\nconst filename = $input.all()[0].json.filename;\n\n// Process formatting with correct escaping\nconst processedText = userText\n  .replace(/\\*\\*(.*?)\\*\\*/g, '\\\\textbf{$1}')\n  .replace(/\\*(.*?)\\*/g, '\\\\textit{$1}')\n  .replace(/\\n\\n/g, '\\n\\n\\\\par\\n');\n\n// Generate LaTeX with proper escaping\nconst latexContent = `\\\\documentclass[12pt]{article}\n\\\\usepackage[utf8]{inputenc}\n\\\\usepackage[margin=1in]{geometry}\n\\\\begin{document}\n\\\\title{Generated Document}\n\\\\maketitle\n\n${processedText}\n\n\\\\end{document}`;\n\nreturn [{\n  json: {\n    filename: filename,\n    latex_content: latexContent,\n    status: \"LaTeX content generated\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "3a0501bf-1246-405d-bedc-123d219c5cf8",
      "name": "Generate Latex"
    },
    {
      "parameters": {
        "command": "=cd /tmp/pdf_files && pdflatex -interaction=nonstopmode -halt-on-error {{ $json.filename }}.tex 2>&1"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1024,
        0
      ],
      "id": "a7d88760-2663-4a58-aeed-4c928112333f",
      "name": "Compille PDF"
    },
    {
      "parameters": {
        "command": "=mkdir -p /tmp/pdf_files && cat > /tmp/pdf_files/{{ $json.filename }}.tex << 'EOF'\n{{ $json.latex_content }}\nEOF\nprintf '{\"filename\": \"%s\", \"status\": \"file written\"}' \"{{ $json.filename }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "a7ac8499-3a3f-4b7e-ba7b-d12188d26893",
      "name": "Write File"
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.all()[0].json.stdout;\nconst parsedData = JSON.parse(stdout);\nreturn [{ json: parsedData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "20454bb7-58ef-4f4f-a75d-e70f1b11ad80",
      "name": "Parse Code"
    },
    {
      "parameters": {
        "command": "=if [ -f \"/tmp/pdf_files/{{ $json.filename }}.pdf\" ]; then\n  SIZE=$(stat -c%s \"/tmp/pdf_files/{{ $json.filename }}.pdf\")\n  printf '{\"filename\": \"%s\", \"pdf_path\": \"/tmp/pdf_files/%s.pdf\", \"pdf_size\": %d, \"status\": \"PDF generated successfully\", \"success\": true}' \"{{ $json.filename }}\" \"{{ $json.filename }}\" \"$SIZE\"\nelse\n  printf '{\"filename\": \"%s\", \"status\": \"PDF generation failed - file not found\", \"success\": false}' \"{{ $json.filename }}\"\nfi"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1232,
        0
      ],
      "id": "f8a77ed5-5491-4f53-83a2-eeaca5f46cbb",
      "name": "Validate PDF"
    }
  ],
  "connections": {
    "Latex generator": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Generate Latex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Latex": {
      "main": [
        [
          {
            "node": "Write File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write File": {
      "main": [
        [
          {
            "node": "Parse Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Code": {
      "main": [
        [
          {
            "node": "Compille PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compille PDF": {
      "main": [
        [
          {
            "node": "Validate PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-13T15:01:02.162Z",
  "updatedAt": "2025-09-15T22:03:57.722Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "9a88cf6c-3192-4990-87b6-900abca0861e",
  "triggerCount": 0,
  "id": "fQq3S0fivC2q5Mv0",
  "meta": null,
  "parentFolderId": null,
  "isArchived": true
}