individual/CYBX_test2_y4UA792pAkAXWpxm/CYBX_test2_2025-08-28T08-00-36.json
{
  "name": "CYBX test2",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -208,
        112
      ],
      "id": "06c03b54-a531-4de6-8edd-2eb57a439274"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17hJ7i9Wh3wnYRzocfyxVqp9W3KxcK5m_iNNDjV9w7IE",
          "mode": "list",
          "cachedResultName": "f1_Thrive-2024-Attendee-Participation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17hJ7i9Wh3wnYRzocfyxVqp9W3KxcK5m_iNNDjV9w7IE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1492236185,
          "mode": "list",
          "cachedResultName": "Event Participant Details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17hJ7i9Wh3wnYRzocfyxVqp9W3KxcK5m_iNNDjV9w7IE/edit#gid=1492236185"
        },
        "options": {}
      },
      "name": "Read Master Contacts (File 1)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "id": "4bd471da-3d34-4ef3-a6b2-b639e62f443b"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13xVeTDk2RJQzA2T-MGcpldtxF10AzzrMO3AbPUYG9UA",
          "mode": "list",
          "cachedResultName": "f2_Behavioral_shortlist",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13xVeTDk2RJQzA2T-MGcpldtxF10AzzrMO3AbPUYG9UA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13xVeTDk2RJQzA2T-MGcpldtxF10AzzrMO3AbPUYG9UA/edit#gid=0"
        },
        "options": {}
      },
      "name": "Read Target Companies (File 2)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        0,
        240
      ],
      "id": "564e4bd4-5d7f-4040-a411-90c07a234725"
    },
    {
      "parameters": {
        "jsCode": "// IMPORTANT: Change \"Company Name\" to the exact column header in your File 1\nconst rawCompanyName = $json[\"Organization\"];\n\nif (rawCompanyName) {\n  // 1. toLowerCase() -> makes everything lowercase\n  // 2. replace() -> uses regex to remove common punctuation and suffixes\n  // 3. trim() -> removes whitespace from start and end\n  $json.normalized_company_name = rawCompanyName\n    .toLowerCase()\n    .replace(/[,.]| inc| ltd| llc/g, \"\")\n    .trim();\n} else {\n  $json.normalized_company_name = null;\n}\n\nreturn $json;"
      },
      "name": "Normalize File 1 Names",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        240,
        0
      ],
      "id": "7b7d64b9-15af-4e9d-9cbf-5270ae90e801"
    },
    {
      "parameters": {
        "jsCode": "// IMPORTANT: Change \"Company Name\" to the exact column header in your File 2\nconst rawCompanyName = $json[\"Company name\"];\n\nif (rawCompanyName) {\n  // 1. toLowerCase() -> makes everything lowercase\n  // 2. replace() -> uses regex to remove common punctuation and suffixes\n  // 3. trim() -> removes whitespace from start and end\n  $json.normalized_company_name = rawCompanyName\n    .toLowerCase()\n    .replace(/[,.]| inc| ltd| llc/g, \"\")\n    .trim();\n} else {\n  $json.normalized_company_name = null;\n}\n\nreturn $json;"
      },
      "name": "Normalize File 2 Names",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        240,
        240
      ],
      "id": "a159be17-0962-488f-bcd5-02c2c53dedb4"
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "normalized_company_name",
              "field2": "normalized_company_name"
            }
          ]
        },
        "joinMode": "enrichInput1",
        "options": {}
      },
      "name": "Left Join on Normalized Name",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        480,
        112
      ],
      "id": "5fa0e27e-a53c-48a6-9f3b-2b21aafdd96a"
    },
    {
      "parameters": {
        "operation": "sheetCreate",
        "documentId": {
          "__rl": true,
          "value": "1jm091dNyu74duV3M31O5YY7hbV-mC1Qe6J9YPkLaRn8",
          "mode": "id"
        }
      },
      "name": "Create Enriched List (File 3)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        720,
        112
      ],
      "id": "2dabd1ca-ebc5-49e2-80c4-58cb0d0cb8bd"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Read Master Contacts (File 1)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Target Companies (File 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Master Contacts (File 1)": {
      "main": [
        [
          {
            "node": "Normalize File 1 Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Target Companies (File 2)": {
      "main": [
        [
          {
            "node": "Normalize File 2 Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize File 1 Names": {
      "main": [
        [
          {
            "node": "Left Join on Normalized Name",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Normalize File 2 Names": {
      "main": [
        [
          {
            "node": "Left Join on Normalized Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Left Join on Normalized Name": {
      "main": [
        [
          {
            "node": "Create Enriched List (File 3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-09T23:27:18.469Z",
  "updatedAt": "2025-08-28T02:35:42.508Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "37207049-5ad7-493c-89fc-e090f29b4554",
  "triggerCount": 0,
  "id": "y4UA792pAkAXWpxm",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "parentFolderId": "WxkLNiYI2I4KBiMN",
  "isArchived": true
}